//all the common stylings come here

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    padding-right: 0;
    padding-left: 0;
}

select {
    padding-right: 40px;
    padding-left: 5px;
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
    position: relative;
    z-index: 1;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: ZurichBT-Roman;
    font-size: 14px;
    letter-spacing: 0.7px;
    color: #7d7d7d;
}





    .header-wrapper {
        padding: 25px 22px 30px 22px;
    }
    
    .clearfix:after {
        clear: both;
        content: "";
        display: table;
    }
    
    .burger-icon {
        display: inline-block;
        float: left;
        width: 24px;
        cursor: pointer;
    }
    
    .header-right {
        display: inline-block;
        float: right;
        img {
            cursor: pointer;
        }
        span:last-child{
            padding-right: 0;
        }
    }
    
    .header-middle {
        vertical-align: middle;
        padding-left: 0px;
        width: 117px;
        height: 21px;
        font-family: ZurichBT-Roman;
        font-size: 18px;
        letter-spacing: 0.8px;
        text-align: center;
        color: #ffffff;
        line-height: 22px;
    }
    
    .textfield-name {
        color: gray;
        transform: translate(0, 20px);
    }
    
    .paddding-textfield {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    input {
        -webkit-appearance: none;
        border: none;
        border-bottom: solid 1px #cdcdcd;
    }
    
    .textfield-name {
        transition: all 0.2s ease-in-out;
    }

    .mr-left{
        float: left;
    }
    .mr-right{
        float: right;
    }
    .zero-opacity{
        opacity: 0;
    }
    .overflow-hidden{
        overflow: hidden;
    }

    //-------------------------------------------------------------------------------------//
    //-------------------datepicker and model window styling-------------------------------//
    //-------------------------------------------------------------------------------------//
    .ui-dialog{
        width: auto !important;
        top: 200px !important;
        bottom: 0 !important;
        right: 0 !important;
        left: 0 !important;
        border-radius: 0;
        padding: 0;
        border: none !important;
    }
    .ui-dialog-titlebar{
        border: none;
        height: 50px;
        border-radius: 0;
        background: white;
        cursor: auto !important;
    }
    .ui-dialog-title{
        font-family: 'ZurichBT-Roman';
        font-size: 18px;
        font-weight: 500;
        padding: 5px 0px;
        color: #6b6b6b;
    }
    .ui-dialog-titlebar-close{
        border: 0 !important;
        background: white !important;
        .ui-icon{
            background: url(./../images/cross.svg) !important;
            width: 14px !important;
            height: 14px !important;
        }
    }
    .ui-dialog-buttonpane{
        display: none;
    }
    .ui-widget-overlay{
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
    }

    //datepicker calender styling
    .ui-datepicker{
        z-index: 103 !important;
        top: auto !important;
        left: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        width: auto !important;
        border: none !important;
        background-color: #f2f2f2 !important;
        th{
            font-size: 14px;
            font-weight: 500;
            border: 0;
            color: #b0b0b0;
            font-family: 'ZurichBT-Roman';
        }
        td{
            line-height: 30px;
            padding: 2px;
            .ui-state-default{
                background: white;
                border: none;
                text-align: center;
                box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.19);
                font-size: 14px;
                font-family: 'ZurichBT-Roman';
                font-weight: 500;
                color: #757575;
            }
            .ui-state-active{
                color: white;
                background-color: #2875c5;
            }
        }
        .ui-datepicker-header{
            border: none;
            border-radius: 0;
            background: transparent;
            .ui-datepicker-prev{
                .ui-icon{
                    background: url(./../images/blue-arrow.svg) !important;
                    width: 11px;
                    -webkit-transform: rotate(180deg);
                    -moz-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    -o-transform: rotate(180deg);
                    transform: rotate(180deg);
                }
            }
            .ui-datepicker-next{
                .ui-icon{
                    background: url(./../images/blue-arrow.svg) !important;
                    width: 11px;
                }
            }
            .ui-state-hover{
                border: none;
                background: none;
            }
        }
        .ui-datepicker-month{
            font-family: 'ZurichBT-Roman';
            font-size: 14px;
            font-weight: 900;
            color: #6b6b6b;
        }
        .ui-datepicker-year{
            font-family: 'ZurichBT-Roman';
            font-size: 14px;
            font-weight: 900;
            color: #cacaca;
        }
    }

    .mr-date-blur-background{
        -webkit-filter: blur(1px);
        -moz-filter: blur(1px);
        -o-filter: blur(1px);
        -ms-filter: blur(1px);
        filter: blur(1px);
        background-color: rgba(86, 86, 86, 0.3);
    }
    .mr-date-overlay{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        background: transparent;
        z-index: 100;
    }
    
    //..............................................................................//
    //-------------------------------------Generate Bill Page-1------------------- //


    //-----------------------------------------------------------------------------------------//
    //---------------------------generate bill page animation styling--------------------------//
    //-----------------------------------------------------------------------------------------//

    .mr-receipt-move-left{
        transform: translate(-110%,0);
    }
    .mr-second-move-up{
        transform: translate(0,-120px);
    }
    .mr-third-move-up{
        transform: translate(0,-250px);
    }
    .mr-fourth-move-up{
        transform: translate(0,-350px);
    }
    .mr-burger-menu-icon {
        padding-right: 15px;
        img {
            width: 15px;
            height: 10px;
            cursor: pointer;
        }
    }
    
    .mr-bell-header {
        padding-right: 30px;
        cursor: pointer;
    }
    .mr-bell-header.mr-bell-notification{
        vertical-align: text-top;
        width: 34px;
        position: relative;
        height: 22px;
        background: #2875c5;
        display: inline-block;
        border-radius: 90px 0 90px 90px;
        font-family: "ZurichBT-Roman";
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 0.6px;
        line-height: 22px;
        color: #ffffff;
        padding-left: 3px;
        img{
            position: absolute;
            right: 0;
            top: 1px;
        }
    }
    
    .mr-white-receipt {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-color: white;
        height: auto;
        margin: 0 auto;
    }
    
    #zz {
        max-width: 100%;
        height: 15px;
        margin: 0 auto;
        background: -webkit-linear-gradient(0deg, transparent 15px, #fff 15px), -webkit-linear-gradient(-135deg, #fff 10px, transparent 10px), -webkit-linear-gradient(135deg, #fff 10px, transparent 10px);
        background: -moz-linear-gradient(0deg, transparent 15px, #fff 15px), -moz-linear-gradient(-135deg, #fff 10px, transparent 10px), -moz-linear-gradient(135deg, #fff 10px, transparent 10px);
        background: -o-linear-gradient(0deg, transparent 15px, #fff 15px), -o-linear-gradient(-135deg, #fff 10px, transparent 10px), -o-linear-gradient(135deg, #fff 10px, transparent 10px);
        background: -ms-linear-gradient(0deg, transparent 15px, #fff 15px), -ms-linear-gradient(-135deg, #fff 10px, transparent 10px), -ms-linear-gradient(135deg, #fff 10px, transparent 10px);
        background: linear-gradient(0deg, transparent 15px, #fff 15px), linear-gradient(-135deg, #fff 10px, transparent 10px), linear-gradient(135deg, #fff 10px, transparent 10px);
        background-color: transparent;
        background-position: center center;
        background-repeat: repeat-x;
        -webkit-background-size: 100% 100%, 15px 15px, 15px 15px;
        -moz-background-size: 100% 100%, 15px 15px, 15px 15px;
        background-size: 100% 100%, 15px 15px, 15px 15px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    
    #zp {
        max-width: 100%;
        height: auto;
        width: 15px;
        top: 0;
        bottom: 0;
        position: absolute;
        right: 0px;
        /* bottom: 0; */
        margin: 0 auto;
        background: -webkit-linear-gradient(90deg, transparent 15px, #fff 15px), -webkit-linear-gradient(225deg, #fff 10px, transparent 10px), -webkit-linear-gradient(315deg, #fff 10px, transparent 10px);
        background: -webkit-linear-gradient(0deg, transparent 15px, #fff 15px), -webkit-linear-gradient(50deg, #fff 10px, transparent 10px), -webkit-linear-gradient(305deg, #fff 7px, transparent 10px);
        background: linear-gradient(90deg, transparent 15px, #fff 15px), linear-gradient(40deg, #fff 10px, transparent 10px), linear-gradient(145deg, #fff 7px, transparent 10px);
        background-color: transparent;
        background-position: center center;
        background-repeat: repeat-y;
        background-size: 100% 100%, 15px 15px, 15px 15px;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    
    .bill-row {
        padding: 25px;
    }
    
    .mr-heading {
        font-family: ZurichBT-Roman;
        font-size: 13px;
        letter-spacing: 0.6px;
        color: #ffa360;
        text-transform: uppercase;
    }
    
    .mr-content {
        font-family: ZurichBT-Roman;
        font-size: 14px;
        letter-spacing: 0.7px;
        color: #828282;
    }
    
    .mr-italics {
        font-family: 'ZurichBTItalics';
        font-size: 12px;
        letter-spacing: 0.6px;
        color: #c1c1c1;
    }
    
    .mr-text-input-cont {
        input {
            width: 100%;
        }
        input:focus {
            outline: none;
            border-color: #ffa360;
        }
    }
    
    .mr-collect-via {
        font-family: 'ZurichBT-Roman';
        font-size: 16px;
        letter-spacing: 0.7px;
        padding: 40px 25px;
        color: #ffffff;
        padding-bottom: 7px;
    }
    
    .mr-white-receipt-small {
        padding: 20px;
        // padding-bottom: 70px;
        background-color: white;
        border-radius: 12px;
        height: auto;
        margin: 0 auto;
        margin-top: 10px;
        position: relative;
        cursor: pointer;
        transition: 0.8s ease;
        box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.26);
    }
    
    .mr-sm-cd-heading {
        font-family: ZurichBT-Roman;
        font-size: 24px;
        color: #ffa360;
    }
    
    .mr-sm-cd-details {
        opacity: 0.84;
        font-family: ZurichBT-Roman;
        font-size: 14px;
        letter-spacing: 0.7px;
        color: #727272;
    }
    
    .mr-wt-pad {
        padding-top: 5px;
    }
    
    .mr-arrow {
        text-align: right;
        img {
            transform: rotate(270deg);
            width: 22.1px;
            height: 10.3px;
            vertical-align: text-top;
        }
    }
    
    .mr-white-receipt-small {
        .col-lg-10.col-md-10.col-sm-10.col-xs-10 {
            // padding: 5px;
        }
    }
    
    .mr-white-receipt {
        // .col-lg-6.col-md-6.col-sm-6.col-xs-6 {
        //     padding: 5px;
        // }
        input {
            width: 90%;
        }
    }
    
    .mr-arrow-pos {
        position: absolute;
        right: 0px;
        top: 35%;
    }
    
    .mr-white-rec-open {
        // margin-top: 5px;
        // padding: 20px;
        background-color: white;
        border-radius: 12px;
        height: auto;
        width: 100%;
        margin: 0 auto;
        margin-top: 10px;
        position: relative;
        padding-bottom: 70px;
        // margin-bottom: 100px;
    }
    
    .mr-hide {
        display: none;
    }
    
    .mr-upi-cnt-txt {
        font-family: ZurichBT-Roman;
        font-size: 18px;
        letter-spacing: 0.8px;
        text-align: center;
        color: #ffa360;
    }
    
    .mr-code-text {
        font-family: ZurichBT-Roman;
        font-size: 18px;
        letter-spacing: 0.8px;
        text-align: center;
        color: #c7c7c7;
    }
    
    .mr-oval {
        position: absolute;
        left: 1px;
        top: -5px;
    }
    
    .mr-toggle {
        position: relative;
    }
    
    .button-turned-on {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    
    .mr-first-ln-cont {
        input:checked + label {
            background: #ff7611;
        }
        // input:checked + label {
        //     color: red;
        // }
        input + label {
            display: inline-block;
            position: relative;
            -webkit-transition: all 0.4s;
            transition: all 0.4s;
            cursor: pointer;
            width: 54.6px;
            height: 28px;
            object-fit: contain;
            border-radius: 52px;
            background-image: linear-gradient(to top, #f46f2c, #ff7611);
            top: 7px;
            margin-bottom: 0px;
        }
        input[type="checkbox"] {
            display: none;
        }
        input + label:before {
            content: "";
            position: absolute;
            background: white;
            height: 22px;
            width: 22px;
            top: 3px;
            transition: all 0.4s;
            left: calc(100% - 26px);
            border-radius: 50%;
        }
        input:checked + label:before {
            left: 5px;
        }
    }
    
    .mr-second-cont {
        font-family: ZurichBT-Roman;
        font-size: 14px;
        letter-spacing: 0.7px;
        color: #a7a7a7;
        margin-left: 5px;
    }
    
    .mr-text-input-cont.mr-second-cont-1 {
        .textfield-name {
            font-family: ZurichBT-Roman;
            font-size: 14px;
            letter-spacing: 0.7px;
            color: #6b6b6b;
        }
    }
    
    .Rectangle-13 {
        cursor: pointer;
        width: 28px;
        height: 28px;
        border-radius: 7px;
        border: solid 2px #ffa360;
        margin-right: 10px
    }
    
    .mr-third-txt {
        font-family: ZurichBT-Roman;
        font-size: 14px;
        letter-spacing: 0.7px;
        color: #b4b4b4;
        line-height: 26px;
    }
    
    .mr-white-rec-open.open-upi {
        .Rectangle-17-Copy {
            cursor: pointer;
            bottom: -50px;
            width: 100%;
        }
    }

    .mr-white-content-fill{
        margin-bottom: -70px;
    }
    
    .mr-ft-ln {
        .mr-sm-cd-heading {
            // float: left;
        }
        .mr-arrow-op {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
            cursor: pointer;
            // float: right;
            img{
                transform: rotate(270deg);
                width: 14px;
            }
        }
        .mr-arrow-op.down{
            img {
                transform: rotate(180deg);
            }
        }
    }
    
    .mr-first-ln-cont {
        margin: auto;
        // width: 80%;
        padding: 0px 0 30px 0;
        text-align: center;
    }
    
    .mr-text-input-cont.mr-second-cont-1 {
        padding: 30px 0 15px 0;
        label{
            margin-left: 5px;
            font-family: 'ZurichBT-Roman';
            font-size: 14px;
            letter-spacing: 0.7px;
            text-align: center;
            color: #6b6b6b;
            font-weight: normal;
        }
    }
    
    .switch {
        padding: 0 14px;
    }
    
    .mr-left {
        float: left;
    }
    
    .mr-main-cont {
        padding: 0 10px 20px 10px;
    }
    
    .Rectangle-14 {
        width: 16px;
        height: 16px;
        top: 6px;
        left: 6px;
        position: absolute;
        border-radius: 3px;
        background-color: #ffa360;
    }
    
    .mr-white-receipt-parent {
        padding: 0px 10px;
    }
    
    .mr-third-cont {
        margin-left: 5px;
        position: relative;
        input:checked + label {
            background: #ffa360;
        }
        // input:checked + label {
        //     color: red;
        // }
        input + label {
            width: 16px;
            height: 16px;
            top: 6px;
            left: 6px;
            position: absolute;
            border-radius: 3px;
            background-color: white;
        }
        input[type="checkbox"] {
            display: none;
        }
        input + label:before {
            width: 28px;
            height: 28px;
            border-radius: 7px;
            margin-right: 10px
        }
        input:checked + label:before {
            left: 5px;
        }
    }
    
    .mr-text-input-cont.mr-second-cont-2 {
        .textfield-name {
            font-family: ZurichBT-Roman;
            font-size: 14px;
            letter-spacing: 0.7px;
            color: #6b6b6b;
        }
    }
    
    //     .mr-text-input-cont.mr-second-cont-3 {
    //     .textfield-name {
    //         font-family: ZurichBT-Roman;
    //         font-size: 14px;
    //         letter-spacing: 0.7px;
    //         color: #6b6b6b;
    //     }
    // }
    .mr-bitmap {
        margin: auto;
        padding: 30px 0;
        text-align: center;
    }
    
    .open-cards-net {
        .mr-text-input-cont {
            padding: 24px 0;
        }
        .mr-heading{
            font-family: 'ZurichBT-Roman';
            font-size: 14px;
            letter-spacing: 0.7px;
            // text-align: center;
            color: #6b6b6b;
        }
    }
    
    .mr-white-rec-open.open-cards-net {
        .Rectangle-17-Copy {
            bottom: -50px;
            width: 100%;
        }
    }
    
    //--------------------others--------------------//
    button {
        border: none;
    }
    
    a {
        color: white;
        text-decoration: underline;
    }
    
    .mr-input-abs-hdr-moved {
        transform: translate(0px, 0px);
    }
    
    .mr-amount {
        .mr-input {
            font-family: ZurichBT-Roman;
            font-size: 16px;
            letter-spacing: 1.2px;
            color: #5b5b5b;
        }
        .mr-duplicate {
            .mr-input {
                font-size: 26px;
            }
        }
    }
    
    .mr-details {
        .mr-input {
            font-family: ZurichBT-Roman;
            font-size: 16px;
            letter-spacing: 1.2px;
            color: #5b5b5b;
            padding-top: 16px;  
        }
    }
    
    .mr-rupee {
        font-family: ITFRupee;
        font-size: 26px;
        letter-spacing: 1.2px;
        text-align: center;
        color: #d3d3d3;
        position: absolute;
        padding-left: 0px;
        top: 4px;
    }
    
    .mr-duplicate {
        .mr-input {
            padding-left: 20px;
        }
        position: relative;
    }
    
    button:focus {
        outline: none;
    }
    
    .orange {
        color: #ffa360;
    }
    
    .grey {
        color: #c7c7c7;
    }
    
    .mr-select-adjust {
        // margin-bottom: 60px;
        width: 100%;
        position: relative;
        padding: 20px 0 10px 0;
        input{
            width: 100%;
            padding-bottom: 10px;
            &:focus{
                outline: none;
            }
        }
        img {
            position: absolute;
            right: 0px;
            cursor: pointer;
        }
    }
    
    .mr-contacts {
        position: relative;
        span {
            img {
                cursor: pointer;
                position: absolute;
                right: 3px;
                bottom: 30px;
            }
        }
        .textfield-name {
            font-family: ZurichBT-Roman;
            font-size: 14px;
            letter-spacing: 0.7px;
            color: #6b6b6b;
        }
    }
    
    #checkboxId {
        cursor: pointer;
    }
    
    .mr-text-input-cont.mr-select-adjust {
        position: relative;
    }
    
    .mr-corr-pad {
        padding-top: 10px !important;
    }
    
    //--------------------hamburger-menu------------------------//
    .mr-hamburger-header {
        background: url(../images/hb-background.svg) no-repeat;
        height: auto;
        width: 100%;
        background-position: center;
        background-size: cover;
    }
    
    .hamburger-side {
        -webkit-transition: 0.4s ease;
        transition: 0.4s ease;
        /* -webkit-transform: translate(-100%); */
        -ms-transform: translate(-100%);
        transform: translate(-100%);
        position: absolute;
        top: 0;
        z-index: 3;
        /* left: 0; */
        /* top: 0; */
        /* width: 100%; */
        /* height: 100%; */
        /* background-color: black; */
        /* background-color: rgba(0, 0, 0, 0.4); */
        &.active {
            transform: none;
        }
    }
    
    .hamburger-main {
        display: none;
        position: absolute;
        top: 0;
        z-index: 3;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        &.active {
            background-color: rgba(0, 0, 0, 0.4);
            display: block;
        }
    }
    
    .mr-hamburger-main-content {
        max-width: 350px;
    }
    
    .mr-hb-oval {
        width: 76px;
        height: 76px;
        border-radius: 50%;
        background-image: linear-gradient(to bottom, #fe9a31, #ff8416);
        box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.5);
        font-family: ZurichBT-Light;
        font-size: 27px;
        font-weight: 300;
        letter-spacing: 3.1px;
        color: #ffffff;
    }
    
    .mr-hb-hd-cont {
        padding: 40px 20px 30px 20px;
    }
    
    .mr-hb-name {
        font-family: ZurichBT-Roman;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0.8px;
        color: #ffffff;
    }
    
    .mr-acc-no {
        font-family: ZurichBT-Roman;
        font-size: 14px;
        letter-spacing: 0.7px;
        color: #c7c7c7;
    }
    
    .mr-hb-cont-rt {
        padding-left: 15px;
    }
    
    .mr-initials {
        padding: 25%;
    }
    
    .mr-hb-menu {
        background-color: #ffffff;
        font-family: ZurichBT-Roman;
        font-size: 16px;
        letter-spacing: 0.7px;
        color: #6b6b6b;
        // box-shadow: 5px 0 46px 0 rgba(0, 0, 0, 0.41);
        padding: 25px;
        ul {
            padding-left: 0px;
            margin-bottom: 0px;
        }
        li {
            list-style-type: none;
            display: inline-block;
            padding-left: 20px;
        }
    }
    
    .mr-hb-icon {
        display: inline-block;
    }
    
    .mr-hb-menu-head {
        padding: 8px 0px 8px 0px;
        cursor: pointer;
    }
    
    .mr-hb-menu-head:last-child {
        padding-bottom: 0px;
    }
    
    .mr-underline {
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }
    
    .mr-generate-bill-page {
        position: relative;
    }
    
    //----------------------my-upi---------------------------//
    .bill-row-upi {
        .mr-heading {
            font-family: ZurichBT-Roman;
            font-size: 14px;
            letter-spacing: 0.7px;
            color: #bcbcbc;
            text-transform: none;
        }
        .row {
            padding-bottom: 25px;
        }
    }

    .mr-second-cont.mr-upi{
        margin-left: 0;
    }
    
    //-------------------------transaction-history-------------//

    .mr-search-box {
        border-radius: 24px;
        background-color: #ffffff;
        box-shadow: 0 1px 21px 0 rgba(0, 0, 0, 0.16);
        width: 100%;
        max-width: 255px;
        height: 50px;
        position: relative;
        display: inline-block;
        input {
            border-bottom: none;
            background-color: transparent;
            padding-left: 20px;
        }
        .mr-heading {
            font-family: ZurichBT-Roman;
            font-size: 14px;
            letter-spacing: 0.7px;
            color: #8f8f8f;
            position: absolute;
            top: -4px;
            left: 20px;
        }
        img {
            cursor: pointer;
            position: absolute;
            right: 17px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .mr-search-buttons{
        padding: 0 !important;
    }
    .mr-grey-search{
        .mr-text-input-cont{
            label{
                font-family: ZurichBT-Roman;
                font-size: 14px;
                letter-spacing: 0.7px;
                color: #636363;
            }
            input{
                padding-bottom: 5px;
            }
        }
    }
    
    .oval-6 {
        width: 50px;
        height: 50px;
        background-color: #ffffff;
        box-shadow: 0 1px 21px 0 rgba(0, 0, 0, 0.16);
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        /* padding-left: 50px; */
        margin-left: 10%;
        img {
            cursor: pointer;
            padding: 18px;
        }
    }
    
    .mr-transaction-bill-page {
        .mr-white-receipt-small {
            padding: 14px 16px;
            background-color: white;
            height: auto;
            margin: 0 auto;
            width: calc(100% - 15px);
            margin-top: 10px;
            position: relative;
            cursor: pointer;
            border-radius: initial;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            margin: 0;
        }
        .mr-tran-name {
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.7px;
            color: #828282;
            font-family: ZurichBT-Roman;
            word-wrap: break-word;
        }
        .mr-name-info {
            font-family: ZurichBT-Roman;
            font-size: 12px;
            letter-spacing: 0.6px;
            color: #bebebe;
        }
        .mr-cost {
            font-family: ZurichBT-Roman;
            font-size: 26px;
            letter-spacing: 1.2px;
            color: #5b5b5b;
            padding-left: 20px;
            line-height: 32px;
        }
        .mr-rupee{
            top: 0;
            font-size: 24px;
        }
        // .col-lg-6.col-md-6.col-sm-6.col-xs-6 {
        //     padding: 0px 5px 0px 5px;
        // }
        .mr-transaction-update{
            max-width: 200px;
            margin: 0 auto;
            display: block;
            line-height: 30px;
            margin-top: 20px;
            margin-bottom: 20px;
            text-align: center;
            font-size: 12px;
            padding: 0 14px;
        }
    }
    
    .mr-small-rec-transaction {
        position: relative;
        margin: 20px 0px 20px 0px;
    }
    
    .mr-search-block {
        padding: 20px 0px 20px 0px;
        .addrow {
            position: absolute;
            width: 100%;
        }
    }
    
    .mr-update {
        padding: 0 10px;
        display: inline-block;
        width: auto;
        /* height: 20px; */
        border-radius: 50px;
        font-family: ZurichBT-Roman;
        font-size: 10px;
        font-weight: bold;
        letter-spacing: 0.5px;
        text-align: center;
        color: #ffffff;
        line-height: 20px;
        margin: 10px 0px 10px 0px;
    }
    
    .mr-completed {
        background-color: #7ed321;
    }
    
    .mr-failed {
        background-color: #e2666d;
    }
    
    .mr-pending {
        background-color: #ffe360;
    }
    
    .mr-pad {
        // padding-bottom: 30px;
        padding-bottom: 18px;
    }
    
    .mr-tran-details {
        .row {
            padding-bottom: 20px;
        }
        .mr-small-rec-transaction {
            margin: 0px;
        }
    }
    
    //--------------transaction-details---------------------//
    .mr-line {
        width: 98%;
        height: 1px;
        border: solid 1px #dce1e2;
    }
    
    .mr-grey {
        .mr-white-receipt-small {
            background-color: #f1f1f1;
        }
        #zp {
            max-width: 100%;
            height: auto;
            width: 15px;
            top: 0;
            bottom: 0;
            position: absolute;
            right: 0px;
            /* bottom: 0; */
            margin: 0 auto;
            background: -webkit-linear-gradient(90deg, transparent 15px, #fff 15px), -webkit-linear-gradient(225deg, #fff 10px, transparent 10px), -webkit-linear-gradient(315deg, #fff 10px, transparent 10px);
            background: -webkit-linear-gradient(0deg, transparent 15px, #fff 15px), -webkit-linear-gradient(50deg, #fff 10px, transparent 10px), -webkit-linear-gradient(305deg, #fff 7px, transparent 10px);
            background: linear-gradient(90deg, transparent 15px, #f1f1f1 15px), linear-gradient(40deg, #f1f1f1 10px, transparent 10px), linear-gradient(145deg, #f1f1f1 7px, transparent 10px);
            background-color: transparent;
            background-position: center center;
            background-repeat: repeat-y;
            background-size: 100% 100%, 15px 15px, 15px 15px;
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        .mr-white-receipt-small {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 5px;
        }
        .mr-update {
            width: 200px;
            margin: 0 auto;
            margin-top: 30px;
            margin-bottom: 20px;
        }
    }
    
    .mr-transaction-bill-page {
        .mr-white-imp {
            .mr-white-receipt-small {
                border-bottom-left-radius: 0px;
            }
        }
    }
    
    .mr-grey-text {
        font-family: ZurichBT-Roman;
        font-size: 14px;
        letter-spacing: 0.7px;
        text-align: center;
        color: #8e8e8e;
    }
    
    //---------------------help-page--------------------------//
    .mr-help-page {
        .mr-sm-cd-details {
            font-family: ZurichBT-Roman;
            font-size: 14px;
            line-height: 17px;
            color: #6b6b6b;
        }
        .mr-help-content {
            font-family: ZurichBT-Roman;
            font-size: 14px;
            line-height: 17px;
            color: #a1a1a1;
            padding-top: 15px;
        }
        .mr-arrow img {
            transform: rotate(0deg);
            height: 18px;
            transform: translate(0, -50%);
        }
        .mr-arrow-angle {
            position: relative;
            .mr-arrow img {
                transform: rotate(90deg);
            }
        }
    }
    
    .mr-grey-bg {
        background-color: #f2f2f2;
        background: url(../images/grey-grey-bg.svg);
        .textfield-name {
            background-color: transparent;
        }
        input {
            background-color: transparent;
        }
        .mr-text-input-cont.mr-from {
            width: 100%;
            padding-right: 10px;
            .textfield-name {
                padding-left: 30px;
            }
            input {
                padding-left: 25px;
            }
        }
        padding:30px;
        .mr-text-input-cont.mr-to {
            width: 100%;
            padding-left: 10px;
            .textfield-name {
                padding-left: 30px;
            }
            input {
                padding-left: 25px;
            }
            .mr-date-ranger {
                left: 10px;
                top: -2px;
            }
        }
        .col-lg-12.col-md-12.col-sm-12.col-xs-12 {
            padding: 5px;
        }
        .row {
            padding: 15px 0px 15px 0px;
        }
    }
    
    .mr-help-page {
        .Rectangle-17-Copy {
            margin: 0 auto;
            display: block;
            position: static;
            margin-top: 30px;
        }
    }
    
    .Rectangle-apply {
        width: 101px;
        height: 43px;
        border-radius: 39px;
        background-image: linear-gradient(to bottom, #125397, #103d6d);
        .rectangle-text {
            line-height: 42px;
        }
    }
    
    .mr-reset-txt {
        cursor: pointer;
        font-family: ZurichBT-Roman;
        font-size: 16px;
        letter-spacing: 0.7px;
        text-align: center;
        color: #989898;
        line-height: 42px;
        margin-right: 30px;
    }

    .mr-search-center{
        width: 80%;
        margin: 0 auto;
        text-align: center;
        input{
            padding-top: 0 !important;
            line-height: 48px;
            color: #8f8f8f !important;
        }
        margin-top: -4px;
    }
    
    .mr-special-set {
        position: absolute;
        width: 76%;
        transform: translate(-50%,0);
        left: 50%;
        margin-top: -4px;
    }
    
    //--------------------------------notifications-------------------//
    .mr-date-ranger {
        position: absolute;
        left: 0;
    }
    
    .mr-time-line {
        font-family: ZurichBT-Roman;
        font-size: 12px;
        letter-spacing: 0.6px;
        text-align: right;
        color: #b8b8b8;
        margin-top: 5px;
    }
    
    .mr-notifications {
        .col-lg-4.col-md-4.col-sm-4.col-xs-4 {
            padding: 5px;
        }
    }
    
    .mr-noti-sm {
        position: relative;
        .mr-content-wt{
            margin-left: 40px;
            .mr-sm-cd-details{
                font-size: 16px;
            }
        }
        img {
            position: absolute;
            left: 20px;
            top: 50%;
            transform: translate(0, -50%);
        }
    }
    
    .mr-help-sm {
        .col-lg-10.col-md-10.col-sm-10.col-xs-10 {
            margin-right: 50px;
        }
        img {
            position: absolute;
            right: -50px;
            top: 50%;
            transform: translate(0, -50%);
        }
    }
    
    //     .mr-language-cont {
    //      background: url(../images/b-g-copy-2.svg);
    //      height: 400px;
    //      width: 200px;
    // }
    //--------------languages-page----------------------//
    .mr-language-pg {
        .mr-easy-pay-lang {
            text-align: center;
            /* width: 205px; */
            // height: 170px;
            img {
                width: 170px;
                margin-top: 50px;
                height: 39px;
                margin-bottom: 60px;
            }
        }
        .mr-lang-list {
            background: url(../images/grey-bg.svg) no-repeat;
            border-radius: 10px;
            box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.26);
            margin: 0 15px 50px 15px;
            position: relative;
            background-size: cover;
        }
        .mr-lang {
            cursor: pointer;
            font-family: ZurichBT-Roman;
            font-size: 18px;
            letter-spacing: 0.8px;
            color: #6b6b6b;
            padding: 25px;
            border-bottom: solid 1px #e5e5e5;
            padding-left: 35px;
            position: relative;
        }
        .mr-lang:last-of-type {
            border-bottom: none;
        }
        .Rectangle-17-Copy {
            bottom: -30px;
        }
    }
    
    .mr-tick {
        img {
            position: absolute;
            right: 30px;
            top: 37%;
        }
    }
    
    .mr-grey-color {
        background-color: #f2f2f2;
    }
    
    .mr-wt-arrow {
        img {
            transform: rotate(180deg);
            width:12px;
            margin-right: 15px;
        }
    }
    
    .mr-header-op {
        // padding-left: 18px;
        font-family: ZurichBT-Roman;
        font-size: 18px;
        letter-spacing: 0.8px;
        text-align: center;
        color: #ffffff;
        vertical-align: sub;
    }
    
    //-----------reg-yourself-----------//
    .mr-sel-query {
        font-family: ZurichBT-Roman;
        font-size: 18px;
        line-height: 1.44;
        letter-spacing: 0.8px;
        color: #ffffff;
        padding: 0px 27px 5px 27px;
    }
    
    .mr-sel-q-cont {
        font-family: ZurichBT-Roman;
        font-size: 16px;
        line-height: 1.44;
        letter-spacing: 0.7px;
        color: #ffcfaf;
        padding: 0px 27px 20px 27px;
    }
    
    .mr-reg-questions {
        border-radius: 10px;
        background-color: #ffffff;
        box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.26);
        margin: 0px 13px 0px 13px;
        padding: 30px 15px;
        margin-bottom: 60px;
        position: relative;
        .mr-main-ques-cont{
            margin-bottom: 50px;
        }
        .mr-input-header{
            font-family: ZurichBT-Roman;
            font-size: 16px;
            letter-spacing: 0.7px;
            color: #545454;
            margin-bottom: 20px;
        }
        input {
            font-family: ZurichBT-Roman;
            font-size: 14px;
            letter-spacing: 0.7px;
            color: #6b6b6b;
        }
        input[type="radio"]:checked + label {
            background-color: #ffa360;
            border: 3px solid #FFF;
            border-radius: 18px;
            box-shadow: 0 0 2px #ffa360;
            height: 28px;
            width: 28px;
        }
        .mr-text-input-cont {
            padding: 0px 15px 0px 15px;
        }
    }
    
    .mr-ques {
        font-family: ZurichBT-Roman;
        font-size: 16px;
        letter-spacing: 0.7px;
        color: #545454;
        display: inline-block;
        padding: 30px 30px 30px 15px;
        // max-width: 86%;
    }
    
    .mr-verify-num {
        .mr-text-input-cont {
            // padding: 0px 15px 30px 15px;
            margin: 20px 0;
            padding: 0;
        }
        .mr-ques {
            margin-left: 50px;
            // margin-top: 10px;
            padding: 0;
            font-family: ZurichBT-Roman;
            font-size: 16px;
            letter-spacing: 0.7px;
            color: #6b6b6b;
        }
        .mr-info-radio{
            padding-left: 0;
            top: -2px;
            transform: none;
        }
        .mr-input-header{
            margin-bottom: 8px;
            font-family: ZurichBT-Roman;
            font-size: 14px;
            letter-spacing: 0.7px;
            color: #6b6b6b;
        }
        .mr-main-ques-cont{
            margin-bottom: 45px;
        }
    }
    
    .mr-reg-questions.mr-verify-num {
        padding-bottom: 30px;
    }
    
    .mr-main-ques-cont {
        label {
            width: 28px;
            height: 28px;
            border-radius: 100px;
            border: solid 2px #ffa360;
        }
    }
    
    .mr-info-radio {
        top: 50%;
        transform: translate(0, -50%);
        position: absolute;
        padding-left: 15px;
    }
    
    .mr-sm-q-cont {
        position: relative;
    }
    
    .mr-mod-win-bg {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(59, 59, 59, 0.6);
    }
    
    //-----------------modal window------------------------//
    .mr-mod-win-text {
        font-family: ZurichBT-Roman;
        font-size: 18px;
        letter-spacing: 0.8px;
        text-align: center;
        color: #444444;
    }
    
    .mr-sub-txt {
        font-family: ZurichBT-Light;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0.8px;
        color: #919191;
        padding-top: 11px;
        text-align: center;
        margin-bottom: 100px;
    }
    
    .mr-mod-win-bg {
        .mr-lang-list {
            background: url(../images/grey-bg.svg) no-repeat;
            border-radius: 10px;
            box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.26);
            position: absolute;
            background-size: cover;
            padding: 25px;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            min-width: 90%;
        }
        .Rectangle-17-Copy {
            bottom: 40px;
        }
        .mr-mob-img {
            object-fit: contain;
            text-align: center;
            /* text-align: center; */
            margin: 0 auto;
            padding-top: 25px;
            padding-bottom: 50px;
        }
    }
    
    .mr-language-pg.mr-blur {
        filter: blur(4px);
    }
    
    .mr-congo-text {
        font-family: ZurichBT-Roman;
        font-size: 18px;
        letter-spacing: 0.8px;
        text-align: center;
        color: #124e8e;
    }
    
    .mr-sub-txt.mr-congo-sub {
        font-size: 16px;
        letter-spacing: 0.7px;
        text-align: center;
        color: #898989;
    }
    
    .mr-pay-text {
        font-family: ZurichBT-Roman;
        font-size: 18px;
        line-height: 1.28;
        letter-spacing: 0.8px;
        text-align: center;
        color: #575757;
    }
    
    .mr-sent-req {
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.26);
        margin: 0 15px 0px 15px;
        position: relative;
        background-size: cover;
        padding: 25px;
        // margin-top: 90px;
        top:4%;
        .mr-pay-text {
            padding-bottom: 30px;
        }
        .mr-req-amt {
            font-family: ZurichBT-Roman;
            font-size: 26px;
            letter-spacing: 1.2px;
            text-align: center;
            color: #5b5b5b;
            padding-left: 19px;
        }
        .mr-pay-req-mon {
            text-align: center;
            padding-top: 30px;
        }
        .mr-rupee {
            font-size: 26px;
            letter-spacing: 1.2px;
            text-align: center;
            color: #d3d3d3;
            line-height: 35px;
        }
        .mr-sent-det {
            font-family: ZurichBT-Roman;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0.7px;
            text-align: center;
            color: #ffa360;
            .mr-sent {
                color: #c9c9c9;
            }
        }
        .mr-transaction-det {
            font-family: ZurichBT-Roman;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 0.6px;
            color: #a9a9a9;
            text-align: center;
        }
        .payment-info {
            font-family: ZurichBT-Roman;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 0.6px;
            text-align: center;
            color: #a9a9a9;
            padding-top: 65px;
            padding-bottom: 100px;
        }
    }
    
    .mr-green-check {
        object-fit: contain;
        text-align: center;
        /* text-align: center; */
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 10px;
    }
    
    .grey-line {
        height: 1px;
        border: solid 1px #eeeeee;
        margin-left:-25px;
        margin-right:-25px;
    }
    
    .mr-invoice-header {
        font-family: ZurichBT-Roman;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0.8px;
        color: #545454;
        padding-bottom: 20px;
        float:left;
    }
    
    .mr-steps {
        font-family: ZurichBT-Roman;
        font-size: 12px;
        letter-spacing: 0.6px;
        color: #ffa360;
    }
    
    .mr-step-det {
        font-family: ZurichBT-Roman;
        font-size: 16px;
        letter-spacing: 0.7px;
        color: #545454;
    }
    
    .mr-step-cont {
        padding-bottom: 15px;
    }
    
    .mr-invoice-header-1 {
        font-family: ZurichBT-Roman;
        font-size: 18px;
        letter-spacing: 0.8px;
        color: #545454;
        padding-top: 15px;
        line-height: 21px;
        padding-bottom: 15px;
    }
    
    .mr-sent-req.mr-invoce {
        height: auto;
    }
    
    .mr-manage-cont {
        border-radius: 10px;
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.26);
        margin: 0 15px 50px 15px;
        position: relative;
        background-size: cover;
        background-color: #fff;
        padding: 25px 20px;
        .Rectangle-17-Copy {
            bottom: -30px;
        }
    }
    
    //----------manage-submerchants-----------------//
    .mr-name-det {
        float: left;
    }

    .mr-man-name{
        font-family: ZurichBT-Roman;
        font-size: 18px;
        letter-spacing: 0.8px;
        text-align: center;
        color: #484848;
    }
    .mr-pn-no{
        font-family: ZurichBT-Roman;
        font-size: 14px;
        letter-spacing: 0.7px;
        // text-align: center;
        color: #b1b1b1;
    }
    
    .mr-call-img {
        float: right;
        padding-right: 25px;
        padding-top: 12px;
    }
    
    .mr-del-img {
        float: right;
        padding-left: 25px;
        border-left: 1px solid #dedede;
        height: 50px;
        padding-top: 12px;
    }
    
    .mr-sm-man {
        padding-bottom: 20px;
    }
    
    .mr-sm-man:last-of-type {
        margin-bottom: 300px;
    }
    
    .mr-invite {
        .textfield-name1 {
            font-family: ZurichBT-Roman;
            font-size: 14px;
            letter-spacing: 0.7px;
            color: #bcbcbc;
        }
        .mr-text-input-cont input {
            font-family: ZurichBT-Roman;
            font-size: 16px;
            letter-spacing: 0.7px;
            color: #6b6b6b;
        }
        .mr-del-txt {
            font-family: ZurichBT-Roman;
            font-size: 12px;
            letter-spacing: 0.6px;
            color: #bababa;
            text-align: right;
            // padding-bottom: 30px;
            img {
                padding: 0px 10px 0px 9px;
            }
        }
        .mr-sm-man {
            border-bottom: solid 1px #ededed;
            padding-bottom: 30px;
            padding: 25px 40px;
            .mr-text-input-cont{
                label{
                    font-family: ZurichBT-Roman;
                    font-size: 14px;
                    letter-spacing: 0.7px;
                    color: #bcbcbc;
                    padding-left: 5px;
                    font-weight: normal;
                }
                input{
                    padding-left: 5px;
                }
            }
        }
        .mr-sm-man:last-of-type {
            margin-bottom: 30px;
        }
        .mr-text-input-cont {
            padding-bottom: 20px;
            position: relative;
        }
    }
    
    .mr-con-img {
        position: absolute;
        right: 6px;
    }
    
    .mr-add-cont {
        span{
            cursor: pointer;
        }
        font-family: ZurichBT-Roman;
        font-size: 14px;
        letter-spacing: 0.7px;
        color: #6b6b6b;
        text-align: center;
        padding: 30px 0px 50px 0px;
        .mr-add-cont-icon{
            font-size: 28px;
            color: #285779;
            display: inline-block;
            padding-right: 15px;
            vertical-align: sub;
        }
    }
    
    //styling for the register main page return
    .mr-upi-button {
        display: inline-block;
        font-family: ZurichBT-Roman;
        padding: 20px;
        width: 50%;
        position: relative;
        background: #ebebeb;
        color: #838383;
        cursor: pointer;
        text-align: center;
        font-size: 14px;
        letter-spacing: 0.7px;
        text-align: center;
        color: #838383;
    }
    
    .mr-upi-button.active {
        background: #11467e;
        color: white;
    }
    
    .mr-upi-button:after {
        display: none;
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid #11467e;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: -20px;
    }
    
    .mr-upi-button.active:after {
        display: block;
    }
    
    .mr-manage-cont.mr-invite {
        padding: 0px;
    }
    
    .mr-reg-ys {
        padding: 25px;
        .mr-text-input-cont{
            label{
                font-family: ZurichBT-Roman;
                font-size: 14px;
                letter-spacing: 0.7px;
                color: #bcbcbc;
                font-weight: normal;
                margin-left: 5px;
            }
            input{
                padding-left: 5px;
            }
        }
        .mr-third-cont{
            margin-left: 0;
            margin-top: 15px;
        }
    }
    
    .mr-upi-description-cont {
        padding: 25px;
        padding-top: 0;
    }
    
    .mr-upi-description {
        .mr-text-input-cont {
            width: 70%;
            display: inline-block;
            font-family: ZurichBT-Roman;
            font-size: 14px;
            letter-spacing: 0.7px;
            color: #7d7d7d;
            padding-bottom: 50px;
        }
        .mr-icici {
            display: inline-block;
            font-family: ZurichBT-Roman;
            font-size: 16px;
            letter-spacing: 0.7px;
            color: #4e4e4e;
        }
        .mr-disclaimer {
            font-family: ZurichBT-Roman;
            font-size: 12px;
            letter-spacing: 0.6px;
            color: #b3b3b3;
        }
        .mr-disclaimer:last-of-type {
            padding-bottom: 50px;
        }
        select {
            padding-right: 40px;
            -webkit-appearance: none;
            width: 100%;
            background: transparent;
            position: relative;
            z-index: 1;
            border: none;
            outline: none;
            cursor: pointer;
            font-family: ZurichBT-Roman;
            font-size: 14px;
            letter-spacing: 0.7px;
            color: #7d7d7d;
        }
        .mr-disclaimer{
            font-family: ZurichBT-Roman;
            font-size: 12px;
            letter-spacing: 0.6px;
            color: #b3b3b3;
        }
    }
    
    .mr-upi-nav-buttons {
        padding-bottom: 60px;
    }
    
    //styling for the drop down
    .mr-account-number {
        width: 100%;
        border: none;
        border-bottom: 1px solid #cdcdcd;
        height: 30px;
        outline: none;
        margin-bottom: 15px;
        position: relative;
    }
    
    .mr-orr-arrow {
        position: absolute;
        right: 10px;
        bottom: 8px;
        z-index: 0;
        img {
            height: 10px;
        }
    }
    
    .mr-header-reg {
        padding: 5px 26px 20px 26px;
        font-family: ZurichBT-Roman;
        font-size: 18px;
        letter-spacing: 0.8px;
        color: #ffffff;
        padding-bottom: 20px;
        padding-top: 15px;
    }
    
    .mr-reg-info {
        font-family: ZurichBT-Roman;
        font-size: 16px;
        letter-spacing: 0.7px;
        color: #6b6b6b;
        margin-top: 3px;
    }
    
    .mr-sm-fd {
        padding: 15px 0px 15px 0px;
    }
    
    .mr-accept-cond {
        font-family: ZurichBT-Roman;
        font-size: 14px;
        letter-spacing: 0.7px;
        color: #bcbcbc;
        margin-bottom: 60px;
        a {
            color: #ffa360;
            text-decoration: underline;
        }
    }
    
    //------------------MPIN-PAGE---------------------//
    #container {
        margin: 0 auto;
    }
    
    #keyboard {
        margin: 0;
        padding: 0;
        list-style: none;
        position: fixed;
        bottom: 0px;
        right: 0;
        left: 0;
        background: url(../images/grey-bg.svg) no-repeat;
        background-size: cover;
        box-shadow: 0 0px 34px 0 rgba(65, 65, 65, 0.57)
    }
    
    #keyboard li {
        float: left;
        width: 33.3%;
        font-size: 24px;
        line-height: 82px;
        text-align: center;
        border: solid 0.5px #ffeada;
        font-family: ZurichBT-Roman;
        text-align: center;
        color: #7a7a7a;
    }
    
    .capslock,
    .tab,
    .left-shift,
    .clearl,
    .switch {
        clear: left;
    }
    
    #keyboard .tab,
    #keyboard .capslock {
        width: 80px;
    }
    
    #keyboard .left-shift {
        width: 70px;
    }
    
    #keyboard .switch {
        width: 90px;
    }
    
    #keyboard .rightright-shift {
        width: 109px;
    }
    
    .lastitem {
        margin-right: 0;
    }
    
    .uppercase {
        text-transform: uppercase;
    }
    
    #keyboard .space {
        float: left;
        width: 556px;
    }
    
    #keyboard .switch,
    #keyboard .space,
    #keyboard .return {
        font-size: 16px;
    }
    
    .on {
        display: none;
    }
    
    #keyboard li:hover {
        position: relative;
        top: 1px;
        left: 1px;
        border-color: #ffeada;
        cursor: pointer;
    }
    
    #container {
        textarea {
            background-color: transparent;
            outline: none;
            border: none;
            font-family: ZurichBT-Roman;
            font-size: 16px;
            font-weight: 300;
            letter-spacing: 0.7px;
            text-align: center;
            color: #ffffff;
        }
    }
    
    .setMPIN {
        font-family: ZurichBT-Roman;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0.7px;
        text-align: center;
        color: #ffffff;
        padding-top: 60px;
        padding-bottom: 15px;
    }
    
    //styling to show the dots in place of password
    .mr-black-dots {
        text-align: center;
        padding-left: 0px;
    }
    
    .mr-dot {
        width: 10px;
        height: 10px;
        margin: 0 12px;
        width: 3.5px;
        height: 3.5px;
        background-color: #944209;
        border-radius: 127%;
        display: inline-block;
        margin-bottom: 2px;
    }
    
    .mr-dot.mr-white-dot {
        width: 9px;
        height: 9px;
        background-color: #ffffff;
        margin-bottom: 0;
    }


//styling for enter-mpin page
.mr-eazypay-logo{
    height: 60px;
    text-align: center;
    position: relative;
    background-color: white;
    img{
        height: 27px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
.mr-welcome-text{
    margin-top: 40px;
    margin-bottom: 50px;
    text-align: center;
    h1{
        font-size: 20px;
        color: white;
        font-family: 'ZurichBT-Roman';
        font-weight: 300;
        letter-spacing: 0.9px;
        span{
            font-weight: 900;
        }
    }
    p{
        font-size: 16px;
        color: white;
        letter-spacing: 0.7px;
    }
}
.mr-forget-text{
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 14px;
    font-family: 'ZurichBT-Roman';
    color: white;
    letter-spacing: 0.7px;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}

#keyboard.mr-circle-keypads{
    max-width: 300px;
    margin: auto;
    margin-bottom: 20px;
    background: none;
    box-shadow:none;
    li{
        float: none;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin: 4px 15px;
        display: inline-block;
        line-height: 70px;
        background-color: white;
    }
    .delete{
        img{
            height: 20px;
        }
    }
}
.return img{
    width:26px;
}
.next{
    background-image: linear-gradient(to bottom, #125397, #103d6d);
}
li.return.clearl.delete {
    background-color: #f3f3f3;
}
.cancel{
    float: right;
    margin-top: 4px;
    font-family: ZurichBT-Roman;
    font-weight: bold;
    font-size: 14px;
    color: #2875c5;
}



//send sms page styling

.mr-send-sms{
    height: 100vh;
    section{
        height: 100%;
    }
}


//verify number query

.mr-verify-number-query{
    font-family: ZurichBT-Roman;
    font-size: 18px;
    line-height: 1.44;
    letter-spacing: 0.8px;
    color: #ffffff;
    margin: 0 25px;
    margin-bottom: 15px;
}


.mr-generate-bill-aadhar{
    .mr-second-cont{
        margin-bottom: 30px;
    }
    .mr-heading{
        font-size: 13px;
        text-transform: capitalize;
        margin-bottom: 10px;
    }
    .mr-text-input-cont{
        input{
            padding-left: 5px;
        }
    }
}


//styling for register-yourself-mode page


.mr-additional-modes-cont{
    margin-top: 30px;
    margin-bottom: 40px;
    .mr-mode-check-boxes{}
    .mr-accept-cond{
        margin-left: 40px;
        margin-bottom: 10px;
    }
    .mr-add-check-hdr{
        font-size: 20px;
    }
    .mr-add-check-desc{
        font-family: ZurichBT-Roman;
        font-size: 14px;
        line-height: 17px;
        color: #6b6b6b;
        margin-top: 10px;
    }
    .mr-fee-text{
        padding: 20px 10px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-style: dotted;
        border-left: none;
        border-right: none;
    }
    .mr-fee-text-hdr{
        color: #009051;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }
    .mr-fee-text-desc{
        font-family: ZurichBT-Roman;
        font-size: 14px;
        line-height: 17px;
        color: #6b6b6b;
        margin-top: 10px;
        text-align: center;
    }
    .mr-fee-address-cont{
        padding: 20px 0;
    }
    .mr-fee-address-hdr{
        font-family: ZurichBT-Roman;
        font-size: 14px;
        line-height: 17px;
        color: #6b6b6b;
        margin-bottom: 10px;
    }
}


//styling for collection modes page

.mr-collection-modes-cont{
    padding: 25px;
    .mr-first-ln-cont{
        padding-bottom: 0;
    }
    .mr-third-cont{
        margin-left: 0;
    }
    .mr-additional-modes-cont{
        margin-top: 20px;
    }
    .mr-reg-info{
        margin-bottom: 20px;
    }
    .mr-white-content-fill{
        margin-bottom: 15px;
        margin-top: 30px;
    }
    .mr-sm-cd-details{
        margin-bottom: 20px;
    }
    .mr-accept-cond{
        margin-left: 40px;
        margin-bottom: 10px;
    }
    .mr-add-check-hdr{
        font-size: 20px;
    }
    .mr-add-check-desc{
        font-family: ZurichBT-Roman;
        font-size: 14px;
        line-height: 17px;
        color: #6b6b6b;
        margin-top: 10px;
    }
    .mr-white-content{
        margin-top: 20px;
        .mr-add-check-hdr{
            color: #ffa360;
        }
    }
}