@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratBold';
    src: url('fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensansregular';
    src: url('fonts/open-sans.regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensanslight';
    src: url('fonts/open-sans.light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensansbold';
    src: url('fonts/open-sans.bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensanssemibold';
    src: url('fonts/open-sans.semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensansextrabold';
    src: url('fonts/open-sans.extrabold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('fonts/roboto-regular.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('fonts/roboto-bold.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('fonts/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('fonts/roboto-light.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('fonts/roboto-medium.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratBlack';
    src: url('fonts/Montserrat-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratHairline';
    src: url('fonts/Montserrat-Hairline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratLight';
    src: url('fonts/Montserrat-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratUltraLight';
    src: url('fonts/Montserrat-UltraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratSemiBold';
    src: url('fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratExtraBold';
    src: url('fonts/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.eot') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratBold';
    src: url('fonts/Montserrat-Bold.eot') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratBlack';
    src: url('fonts/Montserrat-Black.eot') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratHairline';
    src: url('fonts/Montserrat-Hairline.eot') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratLight';
    src: url('fonts/Montserrat-Light.eot') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratUltraLight';
    src: url('fonts/Montserrat-UltraLight.eot') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratSemiBold';
    src: url('fonts/Montserrat-SemiBold.eot') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratExtraBold';
    src: url('fonts/Montserrat-ExtraBold.eot') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratBold';
    src: url('fonts/Montserrat-Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratBlack';
    src: url('fonts/Montserrat-Black.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratHairline';
    src: url('fonts/Montserrat-Hairline.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratLight';
    src: url('fonts/Montserrat-Light.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratUltraLight';
    src: url('fonts/Montserrat-UltraLight.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratSemiBold';
    src: url('fonts/Montserrat-SemiBold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratExtraBold';
    src: url('fonts/Montserrat-ExtraBold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratBold';
    src: url('fonts/Montserrat-Bold.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratBlack';
    src: url('fonts/Montserrat-Black.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratHairline';
    src: url('fonts/Montserrat-Hairline.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratLight';
    src: url('fonts/Montserrat-Light.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratUltraLight';
    src: url('fonts/Montserrat-UltraLight.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratSemiBold';
    src: url('fonts/Montserrat-SemiBold.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratExtraBold';
    src: url('fonts/Montserrat-ExtraBold.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'videogular';
    src: url('fonts/videogular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'videogular';
    src: url('fonts/videogular.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'videogular';
    src: url('fonts/videogular.eot') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'videogular';
    src: url('fonts/videogular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?nv85y7');
    src: url('fonts/icomoon.eot?nv85y7#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?nv85y7') format('truetype'), url('fonts/icomoon.woff?nv85y7') format('woff'), url('fonts/icomoon.svg?nv85y7#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ZurichBT-Roman';
    src: url('fonts/ZurichBTRoman.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ZurichBT-Bold';
    src: url('fonts/ZurichBTBold.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ZurichBT-Light';
    src: url('fonts/ZurichBTLight.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ZurichBTItalics';
    src: url('fonts/ZurichBTItalics.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ITFRupee';
    src: url('fonts/ITFRupee.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-mandummy:before {
    content: "\e949";
}

.icon-secback .path1:before {
    content: "\e900";
    color: rgb(1, 1, 1);
}

.icon-secback .path2:before {
    content: "\e901";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.icon-secback .path3:before {
    content: "\e902";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.icon-add:before {
    content: "\e903";
}

.icon-aheadofschedule:before {
    content: "\e904";
}

.icon-analytics:before {
    content: "\e905";
}

.icon-arrow:before {
    content: "\e906";
}

.icon-askanexpert:before {
    content: "\e907";
}

.icon-assignment:before {
    content: "\e908";
}

.icon-attach:before {
    content: "\e909";
}

.icon-attachment:before {
    content: "\e90a";
}

.icon-attachment2:before {
    content: "\e90b";
}

.icon-back:before {
    content: "\e90c";
}

.icon-badge:before {
    content: "\e90d";
}

.icon-begin:before {
    content: "\e90e";
}

.icon-bell:before {
    content: "\e90f";
}

.icon-bookmark:before {
    content: "\e910";
}

.icon-bookmark_Inactive:before {
    content: "\e911";
}

.icon-burgermenu:before {
    content: "\e912";
}

.icon-calendar:before {
    content: "\e913";
}

.icon-capture:before {
    content: "\e914";
}

.icon-capture2:before {
    content: "\e915";
}

.icon-capture2fill .path1:before {
    content: "\e916";
    color: rgb(0, 0, 0);
}

.icon-capture2fill .path2:before {
    content: "\e917";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-capture2fill .path3:before {
    content: "\e918";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-capture2fill .path4:before {
    content: "\e919";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-casestudy:before {
    content: "\e91a";
}

.icon-check:before {
    content: "\e91b";
}

.icon-check2:before {
    content: "\e91c";
}

.icon-checkbox_inactive:before {
    content: "\e91d";
}

.icon-checkbox_selected:before {
    content: "\e91e";
}

.icon-clipboard:before {
    content: "\e91f";
}

.icon-clipboard2:before {
    content: "\e920";
}

.icon-clipboardnotification:before {
    content: "\e921";
}

.icon-clock:before {
    content: "\e922";
}

.icon-close:before {
    content: "\e923";
}

.icon-collapse:before {
    content: "\e924";
}

.icon-composemessage:before {
    content: "\e925";
}

.icon-consistentonleaderboard:before {
    content: "\e926";
}

.icon-cursor:before {
    content: "\e927";
}

.icon-dashboard:before {
    content: "\e928";
}

.icon-delete:before {
    content: "\e929";
}

.icon-delete2:before {
    content: "\e92a";
}

.icon-down:before {
    content: "\e92b";
}

.icon-download:before {
    content: "\e92c";
}

.icon-dropdown:before {
    content: "\e92d";
}

.icon-dropdown2:before {
    content: "\e92e";
}

.icon-edit:before {
    content: "\e92f";
}

.icon-expand:before {
    content: "\e930";
}

.icon-filter:before {
    content: "\e931";
}

.icon-finishflag:before {
    content: "\e932";
}

.icon-floatingaction:before {
    content: "\e933";
}

.icon-forum:before {
    content: "\e934";
}

.icon-fullscreen:before {
    content: "\e935";
}

.icon-gridview:before {
    content: "\e936";
}

.icon-highlight:before {
    content: "\e937";
}

.icon-highlight2:before {
    content: "\e938";
}

.icon-home:before {
    content: "\e939";
}

.icon-info:before {
    content: "\e93a";
}

.icon-knowmore:before {
    content: "\e93b";
}

.icon-learning:before {
    content: "\e93c";
}

.icon-library-explore:before {
    content: "\e93d";
}

.icon-linkedin:before {
    content: "\e93e";
}

.icon-listview:before {
    content: "\e93f";
}

.icon-logout:before {
    content: "\e940";
}

.icon-man:before {
    content: "\e941";
}

.icon-man_studying .path1:before {
    content: "\e942";
    color: rgb(1, 1, 1);
}

.icon-man_studying .path2:before {
    content: "\e943";
    margin-left: -1em;
    color: rgb(1, 1, 1);
}

.icon-man_studying .path3:before {
    content: "\e944";
    margin-left: -1em;
    color: rgb(1, 1, 1);
}

.icon-man_studying .path4:before {
    content: "\e945";
    margin-left: -1em;
    color: rgb(1, 1, 1);
}

.icon-man_studying .path5:before {
    content: "\e946";
    margin-left: -1em;
    color: rgb(1, 1, 1);
}

.icon-man_studying .path6:before {
    content: "\e947";
    margin-left: -1em;
    color: rgb(3, 3, 3);
}

.icon-man_studying .path7:before {
    content: "\e948";
    margin-left: -1em;
    color: rgb(3, 3, 3);
}

.icon-menu:before {
    content: "\e94a";
}

.icon-newticket:before {
    content: "\e94b";
}

.icon-next:before {
    content: "\e94c";
}

.icon-nextvideo:before {
    content: "\e94d";
}

.icon-notes:before {
    content: "\e94e";
}

.icon-notes2:before {
    content: "\e94f";
}

.icon-ok:before {
    content: "\e950";
}

.icon-ontrack:before {
    content: "\e951";
}

.icon-password:before {
    content: "\e952";
}

.icon-path:before {
    content: "\e953";
}

.icon-piechart:before {
    content: "\e954";
}

.icon-play:before {
    content: "\e955";
}

.icon-play2 .path1:before {
    content: "\e956";
    color: rgb(0, 0, 0);
}

.icon-play2 .path2:before {
    content: "\e957";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-play3:before {
    content: "\e958";
}

.icon-play3-01 .path1:before {
    content: "\e959";
    color: rgb(252, 121, 44);
}

.icon-play3-01 .path2:before {
    content: "\e95a";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-playcircle .path1:before {
    content: "\e95b";
    color: rgb(0, 0, 0);
}

.icon-playcircle .path2:before {
    content: "\e95c";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-pointer:before {
    content: "\e95d";
}

.icon-previousvideo:before {
    content: "\e95e";
}

.icon-proficiencytestfail:before {
    content: "\e95f";
}

.icon-questionanswer:before {
    content: "\e960";
}

.icon-quiz:before {
    content: "\e961";
}

.icon-radio_active:before {
    content: "\e962";
}

.icon-radio_inactive:before {
    content: "\e963";
}

.icon-rankdown:before {
    content: "\e964";
}

.icon-rankup:before {
    content: "\e965";
}

.icon-reminder:before {
    content: "\e966";
}

.icon-remove:before {
    content: "\e967";
}

.icon-replay:before {
    content: "\e968";
}

.icon-reportissue:before {
    content: "\e969";
}

.icon-reportissue2:before {
    content: "\e96a";
}

.icon-repost:before {
    content: "\e96b";
}

.icon-resources:before {
    content: "\e96c";
}

.icon-screenshot:before {
    content: "\e96d";
}

.icon-search:before {
    content: "\e96e";
}

.icon-send:before {
    content: "\e96f";
}

.icon-settings:before {
    content: "\e970";
}

.icon-skills:before {
    content: "\e971";
}

.icon-sort:before {
    content: "\e972";
}

.icon-sort2:before {
    content: "\e973";
}

.icon-star:before {
    content: "\e974";
}

.icon-subtitles:before {
    content: "\e975";
}

.icon-success:before {
    content: "\e976";
}

.icon-support:before {
    content: "\e977";
}

.icon-takenotes:before {
    content: "\e978";
}

.icon-testing:before {
    content: "\e979";
}

.icon-TicketStatus:before {
    content: "\e97a";
}

.icon-top3:before {
    content: "\e97b";
}

.icon-top10:before {
    content: "\e97c";
}

.icon-topic:before {
    content: "\e97d";
}

.icon-trash:before {
    content: "\e97e";
}

.icon-tray:before {
    content: "\e97f";
}

.icon-trendingvideo:before {
    content: "\e980";
}

.icon-trim:before {
    content: "\e981";
}

.icon-troubleshooting:before {
    content: "\e982";
}

.icon-up:before {
    content: "\e983";
}

.icon-username:before {
    content: "\e984";
}

.icon-video:before {
    content: "\e985";
}

.icon-video2:before {
    content: "\e986";
}

.icon-videoquality:before {
    content: "\e987";
}

.icon-videosettings:before {
    content: "\e988";
}

.icon-videospeed:before {
    content: "\e989";
}

.icon-view:before {
    content: "\e98a";
}

.icon-volume:before {
    content: "\e98b";
}

.icon-warning:before {
    content: "\e98c";
}
