.mr-card-img-wrap {
    background: url(../images/b-g-copy-2.svg) no-repeat;
    height: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}

.mr-card-img-login {
    background: url(../images/b-g-copy-2.svg);
    height: 100vh;
}

.mr-language-pg {
    background: url(../images/BG.png) no-repeat;
    height: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}

.mr-landing-pg-bg {
    width: 100%;
    height: 100%;
    img {
        width: 100%;
        height: 85%;
        ;
    }
}

.Rectangle-17-Copy {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 73px;
    height: 60px;
    border-radius: 84px;
    background-image: linear-gradient(to bottom, #125397, #103d6d);
    box-shadow: 0 10px 24px 0 rgba(65, 65, 65, 0.57);
    cursor: pointer;
    @media screen and (max-width: 1240px) and (min-width: 520px) {
        width: 306px;
    }
    @media screen and (max-width: 519px) and (min-width: 380px) {
        width: 90%;
    }
    @media screen and (max-width: 379px) {
        width: 90%;
    }
}

.rectangle-text {
    font-family: ZurichBT-Roman;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.4px;
    text-align: center;
    line-height: 53px;
    color: #ffffff;
}

.mr-register-text {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 34px;
    /* height: 19px; */
    font-family: ZurichBT-Roman;
    font-size: 14px;
    letter-spacing: 0.7px;
    text-align: center;
    color: #ffffff;
}

.mr-easy-pay-logo {
    width: 205px;
    height: 47px;
    position: absolute;
    top: 169px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

button {
    border: none;
}

a {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    color: white;
}

//     .mr-input-abs-hdr-moved {
//     transform: translate(0px, 0px);
// }
.mr-easy-pay-logo img{
    height:auto;
}
