doctype html
html(lang='en')
    head
        title ICICI Easy Pay
        
        //Meta 
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='description', content='')
        meta(name='viewport', content='initial-scale = 1.0, maximum-scale=1.0')
        link(rel='icon', href='favicon.ico', type='image/x-icon')


        //stylesheet
        <!-- build:css css/app.min.css -->
        link(rel='stylesheet', type='text/css', href='styles/bootstrap.css')
        link(rel='stylesheet', type='text/css', href='styles/fonts_family.css')
        link(rel='stylesheet', type='text/css', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css') 
        link(rel='stylesheet', type='text/css', href='../styles/app.css')
        link(rel='stylesheet', type='text/css', href='../styles/login.css')
        script(type="text/javascript" src="../scripts/jquery-3.1.1.min.js")
        script(type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        script(type="text/javascript" src="../scripts/index.js")
        
        
                  

        <!-- endbuild -->
   

    body
        main
            section
                .mr-language-pg 
                    .mr-card-img-wrap
                        .mr-main-container
                            .row
                                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                                    .header.row.header-wrapper
                                        span.mr-wt-arrow
                                            img(src="images/white-arrow.svg" alt="arrow")
                                        
                                        span.mr-header-op Change Language
                        
                        .mr-lang-list
                            .mr-lang English
                                .mr-tick
                                    img(src="images/tick.svg" alt="Burger Menu")
                            .mr-lang हिंदी
                                .mr-tick.mr-hide
                                    img(src="images/tick.svg" alt="Burger Menu")
                            .mr-lang বাংলা
                                .mr-tick.mr-hide
                                    img(src="images/tick.svg" alt="Burger Menu")
                            .mr-lang मराठी
                                .mr-tick.mr-hide
                                    img(src="images/tick.svg" alt="Burger Menu")
                            .mr-lang ಕನ್ನಡ
                                .mr-tick.mr-hide
                                    img(src="images/tick.svg" alt="Burger Menu")
                            .mr-lang 
                            button.Rectangle-17-Copy
                                .rectangle-text CONTINUE