doctype html
html(lang='en')
    head
        title ICICI Easy Pay
        
        //Meta 
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='description', content='')
        meta(name='viewport', content='initial-scale = 1.0, maximum-scale=1.0')
        link(rel='icon', href='favicon.ico', type='image/x-icon')


        //stylesheet
        <!-- build:css css/app.min.css -->
        link(rel='stylesheet', type='text/css', href='styles/bootstrap.css')
        link(rel='stylesheet', type='text/css', href='styles/fonts_family.css')
        link(rel='stylesheet', type='text/css', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css') 
        link(rel='stylesheet', type='text/css', href='../styles/app.css')
        link(rel='stylesheet', type='text/css', href='../styles/login.css')
        script(type="text/javascript" src="../scripts/jquery-3.1.1.min.js")
        script(type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        script(type="text/javascript" src="../scripts/index.js")
        
        
                  

        <!-- endbuild -->
   

    body
        main
            section
                .mr-generate-bill-page
                    .mr-card-img-wrap
                        .mr-main-container
                            .row
                                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                                    .header.row.header-wrapper
                                        span.mr-wt-arrow
                                            img(src="images/white-arrow.svg" alt="arrow")
                                        
                                        span.mr-header-op Register Yourself
                        .setMPIN Confirm MPIN
                        #container
                            //- textarea#write(rows='1', cols='55')

                            ul.mr-black-dots
                                li.mr-dot
                                li.mr-dot
                                li.mr-dot
                                li.mr-dot
                                li.mr-dot
                                li.mr-dot
                            ul#keyboard.clearfix
                                li.letter 1
                                li.letter 2
                                li.letter 3
                                li.letter.clearl 4
                                li.letter 5
                                li.letter 6
                                li.letter.clearl 7
                                li.letter 8
                                li.letter 9
                                li.return.clearl.delete 
                                    img(src="../images/back.png")
                                li.letter 0
                                li.next
                                    img(src="images/white-arrow.svg" alt="arrow")

