doctype html
html(lang='en')
    head
        title ICICI Easy Pay
        
        //Meta 
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='description', content='')
        meta(name='viewport', content='initial-scale = 1.0, maximum-scale=1.0')
        link(rel='icon', href='favicon.ico', type='image/x-icon')


        //stylesheet
        <!-- build:css css/app.min.css -->
        link(rel='stylesheet', type='text/css', href='styles/bootstrap.css')
        link(rel='stylesheet', type='text/css', href='styles/fonts_family.css')
        link(rel='stylesheet', type='text/css', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css') 
        link(rel='stylesheet', type='text/css', href='../styles/app.css')
        link(rel='stylesheet', type='text/css', href='../styles/login.css')
        script(type="text/javascript" src="../scripts/jquery-3.1.1.min.js")
        script(type="text/javascript" src="../scripts/jquery-ui.js")
        script(type="text/javascript" src="../scripts/index.js")
        
        
                  

        <!-- endbuild -->
   

    body
        main
            section
                .mr-generate-bill-page
                    .mr-card-img-wrap
                        .mr-main-container
                            .header.row.header-wrapper
                                .col-lg-9.col-md-9.col-sm-9.col-xs-9
                                    span.mr-burger-menu-icon
                                        img(src="images/burger-menu.svg" alt="Burger Menu")
                                    span.header-middle Generate Bill
                                .col-lg-3.col-md-3.col-sm-3.col-xs-3
                                    .header-right
                                        span.mr-bell-header
                                            img(src="images/bell.svg" alt="Burger Menu")
                                        img(src="images/question.svg" alt="Burger Menu")
                            .mr-white-receipt-parent.clearfix                    
                                .mr-white-receipt 
                                    .bill-row
                                        .row.mr-pad
                                            .col-lg-6.col-md-6.col-sm-6.col-xs-6
                                                .mr-heading Bill Number
                                                .mr-content 0123456-78912

                                            .col-lg-6.col-md-6.col-sm-6.col-xs-6
                                                .mr-heading Date
                                                .mr-content 12/02/17
                                                .mr-italics Today
                                        .row
                                            .col-lg-6.col-md-6.col-sm-6.col-xs-6
                                                .mr-text-input-cont.mr-amount
                                                    //- .textfield-name.mr-input-abs-hdr-moved.mr-heading Amount
                                                    .textfield-name.mr-input-abs-hdr-moved.mr-heading Amount
                                                    .mr-duplicate
                                                        span.mr-rupee ₹
                                                        span
                                                            input.mr-input(placeholder="" id="searchBill" value="3,235.00")

                                            .col-lg-6.col-md-6.col-sm-6.col-xs-6
                                                .mr-text-input-cont.mr-details
                                                    //- .textfield-name.mr-heading Details
                                                    .mr-heading Details
                                                    input.mr-input(placeholder="" id="searchBill")

                                #zz
                            .mr-collect-via Collect Via
                            .mr-main-cont
                                .mr-white-receipt-small.mr-upi.first
                                    .mr-ft-ln.mr-toggle
                                        .mr-sm-cd-heading UPI
                                        .mr-arrow-op
                                            img(src="images/orange_arrow.svg" alt="ARROW")
                                    
                                    .mr-white-rec-close-content
                                        .mr-sm-cd-details Get payment using UPI ID without entering bank information
                                    .mr-white-rec-open.open-upi.mr-hide.zero-opacity
                                        .mr-first-ln-cont
                                            span.mr-code-text QR CODE
                                            lable.switch#checkboxId1
                                                input(type="checkbox" id="onoffswitch")
                                                label(for="onoffswitch")
                                            span.mr-upi-cnt-txt UPI ID
                                        .mr-white-content
                                            .mr-second-cont Customer will receive a request and can make payment from any UPI app
                                            .mr-text-input-cont.mr-second-cont-1
                                                label Enter Customer UPI ID
                                                input.mr-input(placeholder="" id="searchBill")
                                            .mr-third-cont.clearfix
                                                .Rectangle-13.mr-left
                                                lable#checkboxId
                                                    input(type="checkbox" id="onoff")
                                                    label(for="onoff")
                                                .mr-third-txt.mr-left Collect Later
                                            button.Rectangle-17-Copy
                                                .rectangle-text SEND PAYMENT REQUEST
                                            .mr-select-adjust.mr-hide
                                                //- .textfield-name Select Date
                                                
                                                input(type="text" placeholder="Select Date" id="datepicker")
                                                span
                                                    img(src="images/calender.svg" alt="calender")
                                                //- input.mr-input(placeholder="")
                                        .mr-white-content-fill.mr-hide
                                            .mr-second-cont Customer can scan the code on their mobile to get the payment link.
                                            .mr-bitmap
                                                img(src="images/bitmap.png" alt="bit map")
                                .mr-white-receipt-small.mr-cards-net.second
                                    .mr-ft-ln.mr-toggle
                                        .mr-sm-cd-heading Cards / Netbanking
                                        .mr-arrow-op
                                            img(src="images/orange_arrow.svg" alt="ARROW")
                                    .mr-white-rec-close-content
                                        .mr-sm-cd-details Get payment using Net Banking, Credit and Debit Cards
                                    .mr-white-rec-open.open-cards-net.mr-hide.zero-opacity
                                        .mr-second-cont Customer will receive a link on their mobile and can make the payment through net banking, credit or debit card
                                        .mr-text-input-cont.mr-contacts
                                            .mr-heading Enter Customer Mobile Number
                                            span
                                                img(src="images/contacts.svg" alt="contacts")
                                            input.mr-input(placeholder="" id="one")
                                        .mr-text-input-cont.mr-contacts.mr-corr-pad
                                            .mr-heading Enter Customer Email
                                            input.mr-input(placeholder="" id="three")
                                        button.Rectangle-17-Copy
                                            .rectangle-text SEND PAYMENT REQUEST
                                .mr-white-receipt-small.third
                                    .mr-ft-ln.mr-toggle
                                        .mr-sm-cd-heading Pockets
                                        .mr-arrow-op
                                            img(src="images/orange_arrow.svg" alt="ARROW")
                                    .mr-white-rec-close-content
                                        .mr-sm-cd-details Get payment using ICICI’s e-wallet
                                    .mr-white-rec-open.mr-hide
                                .mr-white-receipt-small.fourth.mr-generate-bill-aadhar
                                    .mr-ft-ln.mr-toggle
                                        .mr-sm-cd-heading Aadhar
                                        .mr-arrow-op
                                            img(src="images/orange_arrow.svg" alt="ARROW")
                                    .mr-white-rec-close-content
                                        .mr-sm-cd-details Get payment using Adhar card Number
                                    .mr-white-rec-open.open-cards-net.mr-hide.zero-opacity
                                        .mr-second-cont Customer can scan their fingerprint to make payment directly.
                                        
                                        .mr-text-input-cont.mr-contacts.mr-corr-pad
                                            .mr-heading Enter Customer Aadhar Number
                                            input.mr-input(placeholder="" id="three")
                                        .mr-text-input-cont.mr-contacts.mr-corr-pad
                                            .mr-heading Enter Customer Mobile Number
                                            input.mr-input(placeholder="" id="three")
                                        .mr-account-number
                                            select
                                                option ICICI Bank
                                                option SBI Bank
                                                option HDFC Bank
                                                
                                            .mr-orr-arrow
                                                img(src="images/orange_arrow.svg" alt="arrow")
                                        button.Rectangle-17-Copy
                                            .rectangle-text SEND PAYMENT REQUEST
                                
                                
                    include ./common/hamburger_menu.jade
                    //- .hamburger-main
                    //- .hamburger-side
                    //-     .mr-hamburger-main-content 
                    //-         .mr-hamburger-header
                    //-             .mr-hb-hd-cont.clearfix
                    //-                 .mr-hb-oval.mr-left
                    //-                     .mr-initials MR
                    //-                 .mr-hb-cont-rt.mr-left 
                    //-                     .mr-hb-name Mahinder Reddy
                    //-                     .mr-acc-no Default Account Number
                    //-         .mr-hb-menu
                    //-             ul
                    //-                 .mr-hb-menu-head
                    //-                     .mr-hb-icon
                    //-                         img(src="images/generate-bill.svg" alt="Burger Menu")
                    //-                     li Generate Bill
                    //-                 .mr-hb-menu-head
                    //-                     .mr-hb-icon
                    //-                         img(src="images/pending-payments.svg" alt="Burger Menu")
                    //-                     li Pending Payments
                    //-                 .mr-hb-menu-head
                    //-                     .mr-hb-icon
                    //-                         img(src="images/transaction-history.svg" alt="Burger Menu")
                    //-                     li Transaction History
                    //-                 .mr-hb-menu-head.mr-underline
                    //-                     .mr-hb-icon
                    //-                         img(src="images/s-u-b-m-e-r-c-h-a-n-t-s.svg" alt="Burger Menu")
                    //-                     li Manage Sub-Merchants
                    //-                 .mr-hb-menu-head
                    //-                     .mr-hb-icon
                    //-                         img(src="images/u-p-i-code.svg" alt="Burger Menu")
                    //-                     li My UPI Code
                    //-                 .mr-hb-menu-head.mr-underline
                    //-                     .mr-hb-icon
                    //-                         img(src="images/e-n-g-l-i-s-h.svg" alt="Burger Menu")
                    //-                     li English
                    //-                 .mr-hb-menu-head
                    //-                     .mr-hb-icon
                    //-                         img(src="images/help.svg" alt="Burger Menu")
                    //-                     li Help
                    //-                 .mr-hb-menu-head
                    //-                     .mr-hb-icon
                    //-                         img(src="images/logout.svg" alt="Burger Menu")
                    //-                     li Logout