doctype html
html(lang='en')
    head
        title ICICI Easy Pay
        
        //Meta 
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='description', content='')
        meta(name='viewport', content='initial-scale = 1.0, maximum-scale=1.0')
        link(rel='icon', href='favicon.ico', type='image/x-icon')


        //stylesheet
        <!-- build:css css/app.min.css -->
        link(rel='stylesheet', type='text/css', href='styles/bootstrap.css')
        link(rel='stylesheet', type='text/css', href='styles/fonts_family.css')
        link(rel='stylesheet', type='text/css', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css') 
        link(rel='stylesheet', type='text/css', href='../styles/app.css')
        link(rel='stylesheet', type='text/css', href='../styles/login.css')
        script(type="text/javascript" src="../scripts/jquery-3.1.1.min.js")
        script(type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        script(type="text/javascript" src="../scripts/index.js")
        
        
                  

        <!-- endbuild -->
   

    body
        main
            section
                .mr-help-page
                    .mr-card-img-wrap
                        .mr-main-container
                            .header.row.header-wrapper
                                span.mr-burger-menu-icon
                                        img(src="images/burger-menu.svg" alt="Burger Menu")
                                span.mr-header-op Help
                            .mr-main-cont.mr-help-sm
                                .mr-white-receipt-small
                                    .row
                                        .col-lg-10.col-md-10.col-sm-10.col-xs-10
                                            .mr-content-wt 
                                                .mr-sm-cd-details What are the various features of Eazypay App? How can it benefit us?
                                                .mr-arrow
                                                    img(src="images/blue-arrow.svg" alt="Burger Menu")
                                            .mr-help-content.mr-hide Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                                        
                                                
                                .mr-white-receipt-small
                                    .row
                                        .col-lg-10.col-md-10.col-sm-10.col-xs-10
                                            .mr-content-wt 
                                                .mr-sm-cd-details Can merchants not based in India collect payments through Eazypay?
                                                .mr-arrow
                                                    img(src="images/blue-arrow.svg" alt="Burger Menu")
                                            .mr-help-content.mr-hide Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                                            
                                        
                                            
                                .mr-white-receipt-small
                                    .row
                                        .col-lg-10.col-md-10.col-sm-10.col-xs-10
                                            .mr-content-wt 
                                                .mr-sm-cd-details What are the pre-requistites for EazyPay registration?.mr-arrow
                                                .mr-arrow
                                                    img(src="images/blue-arrow.svg" alt="Burger Menu")
                                            .mr-help-content.mr-hide Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                                            
                                .mr-white-receipt-small
                                    .row
                                        .col-lg-10.col-md-10.col-sm-10.col-xs-10
                                            .mr-content-wt 
                                                .mr-sm-cd-details Does Eazypay registration happen automatically after our ICICI current account gets activated?
                                                .mr-arrow
                                                    img(src="images/blue-arrow.svg" alt="Burger Menu")
                                            .mr-help-content.mr-hide Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                                            
                                .mr-white-receipt-small
                                    .row
                                        .col-lg-10.col-md-10.col-sm-10.col-xs-10
                                            .mr-content-wt 
                                                .mr-sm-cd-details What is Client registration process?
                                                .mr-arrow
                                                    img(src="images/blue-arrow.svg" alt="Burger Menu")
                                            .mr-help-content.mr-hide Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                                            
                                .mr-white-receipt-small
                                    .row
                                        .col-lg-10.col-md-10.col-sm-10.col-xs-10
                                            .mr-content-wt 
                                                .mr-sm-cd-details Does Eazypay registration happen automatically after our ICICI current account gets activated?
                                                .mr-arrow
                                                    img(src="images/blue-arrow.svg" alt="Burger Menu")
                                            .mr-help-content.mr-hide How long will it take to complete the offline registration?
                                            
                                button.Rectangle-17-Copy
                                    .rectangle-text RAISE A QUERY
                    