
doctype html
html(lang='en')
    head
        title ICICI Easy Pay
        
        //Meta 
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='description', content='')
        meta(name='viewport', content='initial-scale = 1.0, maximum-scale=1.0')
        link(rel='icon', href='favicon.ico', type='image/x-icon')


        //stylesheet
        <!-- build:css css/app.min.css -->
        link(rel='stylesheet', type='text/css', href='styles/bootstrap.css') 
        link(rel='stylesheet', type='text/css', href='styles/fonts_family.css') 
        link(rel='stylesheet', type='text/css', href='../styles/login.css')
        script(type="text/javascript" src="../scripts/jquery-3.1.1.min.js")
        script(type="text/javascript" src="../scripts/index.js")
        
        
                  

        <!-- endbuild -->
   

    body
          main
                .main-wrapper-creat-assesment
                section
                    .mr-login-page
                        .mr-card-img-login
                            .mr-landing-pg-bg
                                img(src="images/BG.png" alt="Ensure our future")
                                .mr-easy-pay-logo
                                    img(src="images/Eazypay.png" alt="Ensure our future")
                                button.Rectangle-17-Copy
                                    .rectangle-text LOGIN
                                .mr-register-text 
                                    span Don't have an account? 
                                    span 
                                        a Register Now


                    
                                