
doctype html
html(lang='en')
    head
        title ICICI Easy Pay
        
        //Meta 
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='description', content='')
        meta(name='viewport', content='initial-scale = 1.0, maximum-scale=1.0')
        link(rel='icon', href='favicon.ico', type='image/x-icon')


        //stylesheet
        <!-- build:css css/app.min.css -->
        link(rel='stylesheet', type='text/css', href='styles/bootstrap.css')
        link(rel='stylesheet', type='text/css', href='styles/fonts_family.css')
        link(rel='stylesheet', type='text/css', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css') 
        link(rel='stylesheet', type='text/css', href='../styles/app.css')
        link(rel='stylesheet', type='text/css', href='../styles/login.css')
        script(type="text/javascript" src="../scripts/jquery-3.1.1.min.js")
        script(type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        script(type="text/javascript" src="../scripts/index.js")
        
                  

        <!-- endbuild -->
   

    body
          main
            section
                .mr-language-pg
                    .mr-easy-pay-lang
                            img(src="images/Eazypay.png" alt="Ensure our future")
                    .mr-lang-list
                        .mr-lang English
                            .mr-tick
                                img(src="images/tick.svg" alt="Burger Menu")
                        .mr-lang हिंदी
                            .mr-tick.mr-hide
                                img(src="images/tick.svg" alt="Burger Menu")
                        .mr-lang বাংলা
                            .mr-tick.mr-hide
                                img(src="images/tick.svg" alt="Burger Menu")
                        .mr-lang मराठी
                            .mr-tick.mr-hide
                                img(src="images/tick.svg" alt="Burger Menu")
                        .mr-lang ಕನ್ನಡ
                            .mr-tick.mr-hide
                                img(src="images/tick.svg" alt="Burger Menu")
                        .mr-lang 
                        button.Rectangle-17-Copy
                            .rectangle-text CONTINUE

                            //- .mr-grey-bg kjdfhishudih
                            //- button.Rectangle-17-Copy
                            //-     .rectangle-text CONTINUE