doctype html
html(lang='en')
    head
        title ICICI Easy Pay
        
        //Meta 
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='description', content='')
        meta(name='viewport', content='initial-scale = 1.0, maximum-scale=1.0')
        link(rel='icon', href='favicon.ico', type='image/x-icon')


        //stylesheet
        <!-- build:css css/app.min.css -->
        link(rel='stylesheet', type='text/css', href='styles/bootstrap.css')
        link(rel='stylesheet', type='text/css', href='styles/fonts_family.css')
        link(rel='stylesheet', type='text/css', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css') 
        link(rel='stylesheet', type='text/css', href='../styles/app.css')
        link(rel='stylesheet', type='text/css', href='../styles/login.css')
        script(type="text/javascript" src="../scripts/jquery-3.1.1.min.js")
        script(type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        script(type="text/javascript" src="../scripts/index.js")
        
        
                  

        <!-- endbuild -->
   

    body
        main
            section
                .mr-generate-bill-page
                    .mr-card-img-wrap
                        .mr-main-container
                            .header.row.header-wrapper
                                .col-lg-9.col-md-9.col-sm-9.col-xs-9
                                    span.mr-burger-menu-icon
                                        img(src="images/burger-menu.svg" alt="Burger Menu")
                                    span.header-middle Manage Sub Merchants
                                .col-lg-3.col-md-3.col-sm-3.col-xs-3
                                    .header-right
                                        span.mr-bell-header
                                            img(src="images/bell.svg" alt="Burger Menu")
                                        img(src="images/question.svg" alt="Burger Menu")
                            .mr-manage-cont
                                .mr-sm-man.clearfix
                                    .mr-name-det
                                        .mr-man-name Arun Banerjee
                                        .mr-pn-no 09877622839
                                    .mr-del-img
                                        img(src="images/delete.svg" alt="delete")
                                    .mr-call-img
                                        img(src="images/call.svg" alt="call")
                                .mr-sm-man.clearfix
                                    .mr-name-det
                                        .mr-man-name Sarang Seth
                                        .mr-pn-no 09877622839
                                    .mr-del-img
                                        img(src="images/delete.svg" alt="delete")
                                    .mr-call-img
                                        img(src="images/call.svg" alt="call")
                                button.Rectangle-17-Copy
                                    .rectangle-text INVITE SUB MERCHANTS
