doctype html
html(lang='en')
    head
        title ICICI Easy Pay
        
        //Meta 
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='description', content='')
        meta(name='viewport', content='initial-scale = 1.0, maximum-scale=1.0')
        link(rel='icon', href='favicon.ico', type='image/x-icon')


        //stylesheet
        <!-- build:css css/app.min.css -->
        link(rel='stylesheet', type='text/css', href='styles/bootstrap.css')
        link(rel='stylesheet', type='text/css', href='styles/fonts_family.css')
        link(rel='stylesheet', type='text/css', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css') 
        link(rel='stylesheet', type='text/css', href='../styles/app.css')
        link(rel='stylesheet', type='text/css', href='../styles/login.css')
        script(type="text/javascript" src="../scripts/jquery-3.1.1.min.js")
        script(type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        script(type="text/javascript" src="../scripts/index.js")
        
        
                  

        <!-- endbuild -->
   

    body
        main
            section
                .mr-generate-bill-page
                    .mr-card-img-wrap
                        .mr-main-container
                            .header.row.header-wrapper
                                .col-lg-9.col-md-9.col-sm-9.col-xs-9
                                    span.mr-burger-menu-icon
                                        img(src="images/burger-menu.svg" alt="Burger Menu")
                                    span.header-middle My UPI Code
                                .col-lg-3.col-md-3.col-sm-3.col-xs-3
                                    .header-right
                                        span.mr-bell-header
                                            img(src="images/bell.svg" alt="Burger Menu")
                                        img(src="images/question.svg" alt="Burger Menu")
                            .mr-main-cont
                                .mr-white-receipt-small.clearfix                    
                                    .mr-bitmap
                                        img(src="images/bitmap.png" alt="bit map")
                                    .bill-row-upi
                                        .row
                                            .col-lg-6.col-md-6.col-sm-6.col-xs-6
                                                .mr-heading Merchant Name
                                                .mr-content Mahinder Reddy

                                            .col-lg-6.col-md-6.col-sm-6.col-xs-6
                                                .mr-heading Mobile Number
                                                .mr-content 9877888229
                                    .mr-second-cont.mr-upi This QR Code is valid only for UPI transactions.