doctype html
html(lang='en')
    head
        title ICICI Easy Pay
        
        //Meta 
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='description', content='')
        meta(name='viewport', content='initial-scale = 1.0, maximum-scale=1.0')
        link(rel='icon', href='favicon.ico', type='image/x-icon')


        //stylesheet
        <!-- build:css css/app.min.css -->
        link(rel='stylesheet', type='text/css', href='styles/bootstrap.css')
        link(rel='stylesheet', type='text/css', href='styles/fonts_family.css')
        link(rel='stylesheet', type='text/css', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css') 
        link(rel='stylesheet', type='text/css', href='../styles/app.css')
        link(rel='stylesheet', type='text/css', href='../styles/login.css')
        script(type="text/javascript" src="../scripts/jquery-3.1.1.min.js")
        script(type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        script(type="text/javascript" src="../scripts/index.js")
        
        
                  

        <!-- endbuild -->
   

    body
        main
            section
                .mr-help-page.mr-notifications
                    .mr-card-img-wrap
                        .mr-main-container
                            .row
                                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                                    .header.row.header-wrapper
                                        span.mr-burger-menu-icon
                                            img(src="images/burger-menu.svg" alt="Burger Menu")
                                        span.mr-header-op Notifications
                            .mr-main-cont
                                .mr-white-receipt-small.mr-noti-sm
                                    .mr-content-wt
                                        .mr-sm-cd-details Payment from arunkumar@icici for   3,235 has been recieved.
                                    img(src="images/blue-tick.svg" alt="Burger Menu")
                                    .mr-time-line 2:58 PM
                                .mr-white-receipt-small.mr-noti-sm
                                    .mr-content-wt
                                        .mr-sm-cd-details Payment from 8972792332 for ₹3,235 has been recieved.
                                    img(src="images/blue-tick.svg" alt="Burger Menu")
                                    .mr-time-line 2:58 PM
                                .mr-white-receipt-small.mr-noti-sm
                                    .mr-content-wt
                                        .mr-sm-cd-details Ajay Singh has been added as a sub-merchant.
                                    img(src="images/submerchants.svg" alt="Burger Menu")
                                    .mr-time-line 2:58 PM
                                    