doctype html
html(lang='en')
    head
        title ICICI Easy Pay
        
        //Meta 
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='description', content='')
        meta(name='viewport', content='initial-scale = 1.0, maximum-scale=1.0')
        link(rel='icon', href='favicon.ico', type='image/x-icon')


        //stylesheet
        <!-- build:css css/app.min.css -->
        link(rel='stylesheet', type='text/css', href='styles/bootstrap.css')
        link(rel='stylesheet', type='text/css', href='styles/fonts_family.css')
        link(rel='stylesheet', type='text/css', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css') 
        link(rel='stylesheet', type='text/css', href='../styles/app.css')
        link(rel='stylesheet', type='text/css', href='../styles/login.css')
        script(type="text/javascript" src="../scripts/jquery-3.1.1.min.js")
        script(type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        script(type="text/javascript" src="../scripts/index.js")
        
        
                  

        <!-- endbuild -->
   

    body
        main
            section
                .mr-generate-bill-page
                    .mr-card-img-wrap
                        .mr-main-container
                            .row
                                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                                    .header.row.header-wrapper
                                        span.mr-wt-arrow
                                            img(src="images/white-arrow.svg" alt="arrow")
                                        
                                        span.mr-header-op Register yourself
                            .mr-header-reg Please confirm your registration details before submitting
                            .mr-manage-cont.mr-invite
                                .mr-reg-ys
                                    .mr-sm-fd 
                                        .textfield-name1 Your Name
                                        .mr-reg-info Mahinder Reddy
                                    .mr-sm-fd 
                                        .textfield-name1 Name of your store
                                        .mr-reg-info Reddy Supermarket
                                    .mr-sm-fd 
                                        .textfield-name1 Your VPA
                                        .mr-reg-info mrsupermarket@icici
                                    .mr-sm-fd 
                                        .textfield-name1 Default Account Number
                                        .mr-reg-info XXXX XXXX XXXX 2276
                                    .mr-sm-fd 
                                        .textfield-name1 IFSC Code
                                        .mr-reg-info ICIC00227380
                                    .mr-sm-fd 
                                        .textfield-name1 How many brothers do you have?
                                        .mr-reg-info 2
                                    .mr-sm-fd 
                                        .textfield-name1 What was your first mobile?
                                        .mr-reg-info Nokia 1100
                                    .mr-third-cont.clearfix
                                        .Rectangle-13.mr-left
                                        lable#checkboxId
                                            input(type="checkbox" id="onoff")
                                            label(for="onoff")
                                        .mr-third-txt.mr-accept-cond I accept the 
                                            a terms and conditions
                                button.Rectangle-17-Copy
                                    .rectangle-text CONTINUE
                                    