doctype html
html(lang='en')
    head
        title ICICI Easy Pay
        
        //Meta 
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='description', content='')
        meta(name='viewport', content='initial-scale = 1.0, maximum-scale=1.0')
        link(rel='icon', href='favicon.ico', type='image/x-icon')


        //stylesheet
        <!-- build:css css/app.min.css -->
        link(rel='stylesheet', type='text/css', href='styles/bootstrap.css')
        link(rel='stylesheet', type='text/css', href='styles/fonts_family.css')
        link(rel='stylesheet', type='text/css', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css') 
        link(rel='stylesheet', type='text/css', href='../styles/app.css')
        link(rel='stylesheet', type='text/css', href='../styles/login.css')
        script(type="text/javascript" src="../scripts/jquery-3.1.1.min.js")
        script(type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        script(type="text/javascript" src="../scripts/index.js")
        
        
                  

        <!-- endbuild -->
   

    body
        main
            section
                .mr-generate-bill-page
                    .mr-card-img-wrap
                        .mr-main-container
                            .row
                                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                                    .header.row.header-wrapper
                                        span.mr-wt-arrow
                                            img(src="images/white-arrow.svg" alt="arrow")
                                        
                                        span.mr-header-op Register yourself
                            .mr-manage-cont.mr-invite
                                .mr-reg-ys
                                    .mr-text-input-cont 
                                        label Your Name
                                        input.mr-input(value="Mahinder Reddy" id="searchBill")
                                    .mr-text-input-cont
                                        label Name of your Store
                                        input.mr-input(value="Reddy Supermarket" id="searchBill")
                                        span.mr-con-img

                                .mr-upi-select-cont
                                    .mr-upi-nav-buttons
                                        .mr-upi-button.active
                                            | Use Existing UPI ID
                                        .mr-upi-button
                                            | Create New UPI ID
                                    .mr-upi-description-cont
                                        .mr-upi-description
                                            .mr-text-input-cont 
                                                //- .textfield-name Enter UPI ID
                                                input.mr-input(placeholder="Enter UPI ID" id="searchBill")
                                            .mr-icici @icici
                                            .mr-account-number
                                                select
                                                    option Select Default Account no
                                                    option XXXX - XXXX - 1234
                                                    option XXXX - XXXX - 5674
                                                    option XXXX - XXXX - 1224
                                                .mr-orr-arrow
                                                    img(src="images/orange_arrow.svg" alt="arrow")
                                            .mr-disclaimer All payments will be credited in this account. You can change it later.
                                        .mr-upi-description.mr-hide
                                    button.Rectangle-17-Copy
                                        .rectangle-text CONTINUE
                                            
                                
