doctype html
html(lang='en')
    head
        title ICICI Easy Pay
        
        //Meta 
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='description', content='')
        meta(name='viewport', content='initial-scale = 1.0, maximum-scale=1.0')
        link(rel='icon', href='favicon.ico', type='image/x-icon')


        //stylesheet
        <!-- build:css css/app.min.css -->
        link(rel='stylesheet', type='text/css', href='styles/bootstrap.css')
        link(rel='stylesheet', type='text/css', href='styles/fonts_family.css')
        link(rel='stylesheet', type='text/css', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css') 
        link(rel='stylesheet', type='text/css', href='../styles/app.css')
        link(rel='stylesheet', type='text/css', href='../styles/login.css')
        script(type="text/javascript" src="../scripts/jquery-3.1.1.min.js")
        script(type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        script(type="text/javascript" src="../scripts/index.js")
        
        
                  

        <!-- endbuild -->
   

    body
        main
            section
                .mr-language-pg 
                    .mr-card-img-wrap
                        .mr-main-container
                            .row
                                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                                    .header.row.header-wrapper
                                        span.mr-wt-arrow
                                            img(src="images/white-arrow.svg" alt="arrow")
                                        
                                        span.mr-header-op Register yourself
                        .mr-header-reg Please select the additional modes you would like to use for collection of payment
                        .mr-manage-cont.mr-invite
                            .mr-mode-details-cont.mr-reg-ys
                                .textfield-name1 Defauld Modes
                                .mr-reg-info UPI, Cards/Net banking, Pockets
                                .mr-additional-modes-cont
                                    .textfield-name1 Additional Modes
                                    .mr-model-check-boxes
                                        .mr-third-cont.clearfix
                                            .Rectangle-13.mr-left
                                            lable#checkboxId
                                                input(type="checkbox" id="bharatCode")
                                                label(for="bharatCode")
                                            .mr-third-txt.mr-accept-cond
                                                .mr-add-check-hdr Bharat QR Code
                                                .mr-add-check-desc
                                                    | A Bharat QR Code will be dispatched to your address. Customercan scan the code from their banking app to make payment
                                        .mr-third-cont.clearfix
                                            .Rectangle-13.mr-left
                                            lable#checkboxId
                                                input(type="checkbox" id="aadharPay")
                                                label(for="aadharPay")
                                            .mr-third-txt.mr-accept-cond
                                                .mr-add-check-hdr Aadhar Pay
                                                .mr-add-check-desc
                                                    | A fingerprint scanner will be dispatched to your address.Customer can use fingerprint and Aadhar details to make payment
                                    .mr-model-check-results.mr-hide
                                        .mr-fee-text
                                            .mr-fee-text-hdr Fee Payable: Rs. 1500
                                            .mr-fee-text-desc
                                                | Amount will be automatically deducted from your default account post registration
                                        .mr-fee-address-cont
                                            .mr-fee-address-hdr Delivery Address
                                            .mr-text-input-cont
                                                input.mr-input(placeholder="")
                                            .mr-text-input-cont
                                                input.mr-input(placeholder="")


                            button.Rectangle-17-Copy
                                .rectangle-text CONTINUE