doctype html
html(lang='en')
    head
        title ICICI Easy Pay
        
        //Meta 
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='description', content='')
        meta(name='viewport', content='initial-scale = 1.0, maximum-scale=1.0')
        link(rel='icon', href='favicon.ico', type='image/x-icon')


        //stylesheet
        <!-- build:css css/app.min.css -->
        link(rel='stylesheet', type='text/css', href='styles/bootstrap.css')
        link(rel='stylesheet', type='text/css', href='styles/fonts_family.css')
        link(rel='stylesheet', type='text/css', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css') 
        link(rel='stylesheet', type='text/css', href='../styles/app.css')
        link(rel='stylesheet', type='text/css', href='../styles/login.css')
        script(type="text/javascript" src="../scripts/jquery-3.1.1.min.js")
        script(type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        script(type="text/javascript" src="../scripts/index.js")
        
        
                  

        <!-- endbuild -->
   

    body
        main
            section
                .mr-language-pg 
                    .mr-card-img-wrap
                        .mr-main-container
                            .row
                                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                                    .header.row.header-wrapper
                                        span.mr-wt-arrow
                                            img(src="images/white-arrow.svg" alt="arrow")
                                        
                                        span.mr-header-op Register yourself
                            .mr-sel-query Select  2 security questions.
                            .mr-sel-q-cont These will be used to verify your identity if you need to reset your MPIN.
                            
                            .mr-reg-questions
                                .mr-main-ques-cont
                                    .mr-text-input-cont
                                        .mr-input-header How many brothers do you have?
                                        input.mr-input(placeholder="Ex 2" id="searchBill")
                                .mr-main-ques-cont    
                                    .mr-text-input-cont
                                        .mr-input-header What was your first mobile?
                                        input.mr-input(placeholder="Ex Nokia" id="searchBill")
                                    
                                button.Rectangle-17-Copy
                                    .rectangle-text CONTINUE