doctype html
html(lang='en')
    head
        title ICICI Easy Pay
        
        //Meta 
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='description', content='')
        meta(name='viewport', content='initial-scale = 1.0, maximum-scale=1.0')
        link(rel='icon', href='favicon.ico', type='image/x-icon')


        //stylesheet
        <!-- build:css css/app.min.css -->
        link(rel='stylesheet', type='text/css', href='styles/bootstrap.css')
        link(rel='stylesheet', type='text/css', href='styles/fonts_family.css')
        link(rel='stylesheet', type='text/css', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css') 
        link(rel='stylesheet', type='text/css', href='../styles/app.css')
        link(rel='stylesheet', type='text/css', href='../styles/login.css')
        script(type="text/javascript" src="../scripts/jquery-3.1.1.min.js")
        script(type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        script(type="text/javascript" src="../scripts/index.js")
        
        
                  

        <!-- endbuild -->
   

    body
        //- div#dialog
        .mr-date-overlay.mr-hide
        main
            section
                .mr-transaction-bill-page
                    .mr-card-img-wrap
                        .mr-main-container
                            .header.row.header-wrapper
                                .col-lg-9.col-md-9.col-sm-9.col-xs-9
                                    span.mr-burger-menu-icon
                                        img(src="images/burger-menu.svg" alt="Burger Menu")
                                    span.header-middle Transaction History
                                .col-lg-3.col-md-3.col-sm-3.col-xs-3
                                    .header-right
                                        span.mr-bell-header
                                            img(src="images/bell.svg" alt="Burger Menu")
                                        img(src="images/question.svg" alt="Burger Menu")
                            .mr-main-cont
                                .mr-search-block
                                    .row.mr-search-center
                                        .col-lg-8.col-md-8.col-sm-8.col-xs-8
                                            .mr-text-input-cont.mr-details.mr-search-box
                                                .textfield-name.mr-heading
                                                img(src="images/search_icon.svg" alt="Burger Menu")
                                                input.mr-input(placeholder="Search" id="searchBill")
                                        .col-lg-2.col-md-2.col-sm-2.col-xs-2.right
                                            .oval-6
                                                .mr-filter
                                                    img(src="images/filter.svg" alt="Burger Menu")
                                                .mr-cross.mr-hide
                                                    img(src="images/cross.svg" alt="cross")


                                .mr-grey-search.mr-hide
                                    .mr-grey-bg
                                        .row
                                            .col-lg-6.col-md-6.col-sm-6.col-xs-6
                                                .mr-text-input-cont.mr-from
                                                    //- label From
                                                    input.mr-input.datePickClass(type="text" placeholder="From")
                                                    span.mr-date-ranger
                                                        img(src="images/date_ranger.svg" alt="calender")

                                            .col-lg-6.col-md-6.col-sm-6.col-xs-6
                                                .mr-text-input-cont.mr-to
                                                    //- label To
                                                    input.mr-input.datePickClass(type="text" placeholder="To")
                                                    span.mr-date-ranger
                                                        img(src="images/date_ranger.svg" alt="calender")
                                        .row
                                            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                                                .mr-account-number
                                                    select
                                                        option STATUS
                                                        option option1
                                                        option option2
                                                        option option3
                                                    .mr-orr-arrow
                                                        img(src="images/orange_arrow.svg" alt="arrow")
                                                //- .mr-text-input-cont.mr-status
                                                //-     .textfield-name STATUS
                                                //-     input.mr-input(placeholder="")
                                        .row.mr-search-buttons
                                            .col-lg-12.col-md-12.col-sm-12.col-xs-12.clearfix
                                                button.Rectangle-apply.mr-right
                                                    .rectangle-text APPLY
                                                .mr-reset-txt.mr-right RESET
                                            //- .col-lg-4.col-md-4.col-sm-4.col-xs-4
                                            //- .col-lg-4.col-md-4.col-sm-4.col-xs-4
                                            //-     .mr-reset-txt RESET
                                            //- .col-lg-4.col-md-4.col-sm-4.col-xs-4
                                            //-     button.Rectangle-apply
                                            //-         .rectangle-text APPLY
                                .mr-small-rec-transaction
                                    .mr-white-receipt-small
                                        .row
                                            .col-lg-6.col-md-6.col-sm-6.col-xs-6
                                                .mr-tran-name arunkumar@icici
                                                .mr-name-info Paid by UPI
                                            .col-lg-6.col-md-6.col-sm-6.col-xs-6
                                                .mr-duplicate
                                                        span.mr-rupee ₹
                                                .mr-cost 3,235.00
                                        .row
                                            .col-lg-6.col-md-6.col-sm-6.col-xs-6    
                                            .col-lg-6.col-md-6.col-sm-6.col-xs-6
                                                .mr-update.mr-completed COMPLETED
                                        
                                        .row
                                            .col-lg-6.col-md-6.col-sm-6.col-xs-6
                                                .mr-heading DATE
                                                .mr-content 12/02/17
                                            .col-lg-6.col-md-6.col-sm-6.col-xs-6
                                                .mr-heading BILL NUMBER
                                                .mr-content 0123456-78912

                                            
                                    #zp
                                .mr-small-rec-transaction
                                    .mr-white-receipt-small
                                        .row
                                            .col-lg-6.col-md-6.col-sm-6.col-xs-6
                                                .mr-tran-name saurabhjain@icici
                                                .mr-name-info Paid by UPI
                                            .col-lg-6.col-md-6.col-sm-6.col-xs-6
                                                .mr-duplicate
                                                        span.mr-rupee ₹
                                                .mr-cost 2,435.00
                                        .row
                                            .col-lg-6.col-md-6.col-sm-6.col-xs-6    
                                            .col-lg-6.col-md-6.col-sm-6.col-xs-6
                                                .mr-update.mr-failed FAILED
                                        
                                        .row
                                            .col-lg-6.col-md-6.col-sm-6.col-xs-6
                                                .mr-heading DATE
                                                .mr-content 12/02/17
                                            .col-lg-6.col-md-6.col-sm-6.col-xs-6
                                                .mr-heading BILL NUMBER
                                                .mr-content 0123456-78912

                                            
                                    #zp
                                .mr-small-rec-transaction
                                    .mr-white-receipt-small
                                        .row
                                            .col-lg-6.col-md-6.col-sm-6.col-xs-6
                                                .mr-tran-name saurabhjain@icici
                                                .mr-name-info Paid by UPI
                                            .col-lg-6.col-md-6.col-sm-6.col-xs-6
                                                .mr-duplicate
                                                        span.mr-rupee ₹
                                                .mr-cost 2,435.00
                                        .row
                                            .col-lg-6.col-md-6.col-sm-6.col-xs-6    
                                            .col-lg-6.col-md-6.col-sm-6.col-xs-6
                                                .mr-update.mr-pending PENDING
                                        
                                        .row
                                            .col-lg-6.col-md-6.col-sm-6.col-xs-6
                                                .mr-heading DATE
                                                .mr-content 12/02/17
                                            .col-lg-6.col-md-6.col-sm-6.col-xs-6
                                                .mr-heading BILL NUMBER
                                                .mr-content 0123456-78912

                                            
                                    #zp
                                .mr-small-rec-transaction
                                    .mr-white-receipt-small
                                        .row
                                            .col-lg-6.col-md-6.col-sm-6.col-xs-6
                                                .mr-tran-name saurabhjain@icici
                                                .mr-name-info Paid by UPI
                                            .col-lg-6.col-md-6.col-sm-6.col-xs-6
                                                .mr-duplicate
                                                        span.mr-rupee ₹
                                                .mr-cost 2,435.00
                                        .row
                                            .col-lg-6.col-md-6.col-sm-6.col-xs-6    
                                            .col-lg-6.col-md-6.col-sm-6.col-xs-6
                                                .mr-update.mr-completed COMPLETED
                                        
                                        .row
                                            .col-lg-6.col-md-6.col-sm-6.col-xs-6
                                                .mr-heading DATE
                                                .mr-content 12/02/17
                                            .col-lg-6.col-md-6.col-sm-6.col-xs-6
                                                .mr-heading BILL NUMBER
                                                .mr-content 0123456-78912

                                            
                                    #zp
                        .mr-language-cont
                    include ./common/hamburger_menu.jade