doctype html
html(lang='en')
    head
        title ICICI Easy Pay
        
        //Meta 
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='description', content='')
        meta(name='viewport', content='initial-scale = 1.0, maximum-scale=1.0')
        link(rel='icon', href='favicon.ico', type='image/x-icon')


        //stylesheet
        <!-- build:css css/app.min.css -->
        link(rel='stylesheet', type='text/css', href='styles/bootstrap.css')
        link(rel='stylesheet', type='text/css', href='styles/fonts_family.css')
        link(rel='stylesheet', type='text/css', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css') 
        link(rel='stylesheet', type='text/css', href='../styles/app.css')
        link(rel='stylesheet', type='text/css', href='../styles/login.css')
        script(type="text/javascript" src="../scripts/jquery-3.1.1.min.js")
        script(type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        script(type="text/javascript" src="../scripts/index.js")
        
        
                  

        <!-- endbuild -->
   

    body
        main
            section
                .mr-transaction-bill-page.mr-tran-details
                    .mr-card-img-wrap
                        .mr-main-container
                           .header.row.header-wrapper
                                .col-lg-9.col-md-9.col-sm-9.col-xs-9
                                    span.mr-burger-menu-icon
                                        img(src="images/burger-menu.svg" alt="Burger Menu")
                                    span.header-middle Transaction Details
                                .col-lg-3.col-md-3.col-sm-3.col-xs-3
                                    .header-right
                                        span.mr-bell-header
                                            img(src="images/bell.svg" alt="Burger Menu")

                            .mr-main-cont
                                .mr-small-rec-transaction.mr-white-imp
                                    .mr-white-receipt-small
                                        .row
                                            .col-lg-6.col-md-6.col-sm-6.col-xs-6
                                                .mr-tran-name arunkumar@icici
                                                .mr-name-info Paid by UPI
                                            .col-lg-6.col-md-6.col-sm-6.col-xs-6
                                                .mr-duplicate
                                                        span.mr-rupee ₹
                                                .mr-cost 3,235.00
                                        
                                        .row
                                            .col-lg-6.col-md-6.col-sm-6.col-xs-6
                                                .mr-heading DATE
                                                .mr-content 12/02/17
                                            .col-lg-6.col-md-6.col-sm-6.col-xs-6
                                                .mr-heading BILL NUMBER
                                                .mr-content 0123456-78912
                                        .row
                                            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                                                .mr-heading TRANSACTION ID
                                                .mr-content 0123456-12345623

                                            
                                    #zp
                                .mr-line
                                .mr-small-rec-transaction.mr-grey
                                    .mr-white-receipt-small
                                        .mr-update.mr-completed.mr-transaction-update TRANSACTION COMPLETED
                                        .mr-grey-text Money has been credited to your account.        
                                    #zp