doctype html
html(lang='en')
    head
        title ICICI Easy Pay
        
        //Meta 
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='description', content='')
        meta(name='viewport', content='initial-scale = 1.0, maximum-scale=1.0')
        link(rel='icon', href='favicon.ico', type='image/x-icon')


        //stylesheet
        <!-- build:css css/app.min.css -->
        link(rel='stylesheet', type='text/css', href='styles/bootstrap.css')
        link(rel='stylesheet', type='text/css', href='styles/fonts_family.css')
        link(rel='stylesheet', type='text/css', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css') 
        link(rel='stylesheet', type='text/css', href='../styles/app.css')
        link(rel='stylesheet', type='text/css', href='../styles/login.css')
        script(type="text/javascript" src="../scripts/jquery-3.1.1.min.js")
        script(type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        script(type="text/javascript" src="../scripts/index.js")
        
        
                  

        <!-- endbuild -->
   

    body
        main
            section
                .mr-language-pg 
                    .mr-card-img-wrap
                        .mr-main-container
                            .row
                                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                                    .header.row.header-wrapper
                                        span.mr-wt-arrow
                                            img(src="images/white-arrow.svg" alt="arrow")
                                        
                                        span.mr-header-op Verify
                            .mr-verify-number-query We could not verify your phone number. Please enter you account number to proceed : 
                            
                            .mr-reg-questions.mr-verify-num
                                .mr-main-ques-cont
                                    .mr-sm-q-cont.mr-toggle
                                        span.mr-info-radio
                                            input#accinfo( type="radio" name="icici" checked)
                                            label(for="accinfo")
                                        .mr-ques I have an ICICI Current account
                                    
                                    .mr-text-input-cont
                                        .mr-input-header Enter Account Number
                                        input.mr-input(placeholder="" id="searchBill")
                                    .mr-text-input-cont
                                        .mr-input-header Confirm Account Number
                                        input.mr-input(placeholder="" id="searchBill")
                                .mr-main-ques-cont
                                    .mr-sm-q-cont.mr-toggle  
                                        span.mr-info-radio
                                            input#accinfo11(type="radio" name="icici")
                                            label(for="accinfo11") 
                                        .mr-ques I do not have a current account with ICICI but would like to open one to use EazyPay
                                    
                                    .mr-text-input-cont
                                        .mr-input-header Enter Name
                                        input.mr-input(placeholder="" id="searchBill")
                                    
                                button.Rectangle-17-Copy
                                    .rectangle-text CONTINUE