.hamburger-main
.hamburger-side
    .mr-hamburger-main-content 
        .mr-hamburger-header
            .mr-hb-hd-cont.clearfix
                .mr-hb-oval.mr-left
                    .mr-initials MR
                .mr-hb-cont-rt.mr-left 
                    .mr-hb-name Mahinder Reddy
                    .mr-acc-no Default Account Number
        .mr-hb-menu
            ul
                .mr-hb-menu-head
                    .mr-hb-icon
                        img(src="images/generate-bill.svg" alt="Burger Menu")
                    li Generate Bill
                .mr-hb-menu-head
                    .mr-hb-icon
                        img(src="images/pending-payments.svg" alt="Burger Menu")
                    li Pending Payments
                .mr-hb-menu-head
                    .mr-hb-icon
                        img(src="images/transaction-history.svg" alt="Burger Menu")
                    li Transaction History
                .mr-hb-menu-head.mr-underline
                    .mr-hb-icon
                        img(src="images/s-u-b-m-e-r-c-h-a-n-t-s.svg" alt="Burger Menu")
                    li Manage Sub-Merchants
                .mr-hb-menu-head
                    .mr-hb-icon
                        img(src="images/u-p-i-code.svg" alt="Burger Menu")
                    li My UPI Code
                .mr-hb-menu-head.mr-underline
                    .mr-hb-icon
                        img(src="images/e-n-g-l-i-s-h.svg" alt="Burger Menu")
                    li English
                .mr-hb-menu-head
                    .mr-hb-icon
                        img(src="images/help.svg" alt="Burger Menu")
                    li Help
                .mr-hb-menu-head
                    .mr-hb-icon
                        img(src="images/logout.svg" alt="Burger Menu")
                    li Logout