.mr-mod-win-bg
    .mr-sent-req.mr-invoce
        .clearfix
            .mr-invoice-header How to raise an invoice
            .cancel X
        .mr-step-cont
            .mr-steps Step 1
            .mr-step-det You may change the bill number.
        .mr-step-cont
            .mr-steps Step 2
            .mr-step-det Particulars is non mandatory.
        .mr-step-cont
            .mr-steps Step 3
            .mr-step-det Enter amount.
        .mr-step-cont
            .mr-steps Step 4
            .mr-step-det Add extra rows, if required.
        .mr-step-cont
            .mr-steps Step 5
            .mr-step-det Select collection mode.
        .grey-line
        .mr-invoice-header-1 If Collection mode is Bank Account:
        .mr-step-cont
            .mr-steps Step 1
            .mr-step-det Send Payment link on payer’s mobile number
        .mr-step-cont
            .mr-steps Step 2
            .mr-step-det Ask payer to click on hyperlink in SMS recieved.
