.mr-mod-win-bg
    .mr-lang-list
        .mr-mob-img
            img(src="images/congo.svg" alt="mobile")
        .mr-congo-text Congratulations!
        .mr-sub-txt.mr-congo-sub You have successfully registered!
        button.Rectangle-17-Copy
            .rectangle-text CONTINUE TO LOGIN