.mr-mod-win-bg
    .mr-lang-list
        .mr-mob-img
            img(src="images/mobile-img.svg" alt="mobile")
        .mr-mod-win-text ICICI EazyPay will send an SMS to verify your mobile number.
        .mr-sub-txt (Standard messaging charges apply)
        button.Rectangle-17-Copy
            .rectangle-text SEND SMS