.mr-mod-win-bg
    .mr-sent-req
        .mr-green-check
            img(src="images/green-check.svg" alt="mobile")
        .mr-pay-text Payment Request Sent!
        .grey-line
        .mr-pay-req-mon
            span.mr-rupee ₹
            span.mr-req-amt 3,235.00
        .mr-sent-det
            span.mr-sent Sent to 
            span.mr-sent-name arunkumar@ic
        .mr-transaction-det Transaction ID : 0123456-12345623
        .payment-info Payment will get credited in account number XXXXXXXX2276
        button.Rectangle-17-Copy
            .rectangle-text DONE

